<form [formGroup]="cashFormHandlerService.formGroup" (ngSubmit)="create()">
    <div class="card">
        <div class="card-header d-flex justify-content-around">
            <button class="btn btn-sm btn-outline-success me-3" type="submit">💵 Guardar</button>
            <button class="btn btn-sm btn-outline-secondary me-3" type="button" (click)="back()">⬅️ Volver</button>
        </div>
        <div id="cash-transaction-new" class="card-body">
            <div class="w-100 alert alert-success text-center p-2">Crear Transacción</div>
            <div class="row">
                <div class="col-12">
                    <label><b>Concepto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <ejs-dropdownlist
                            [(ngModel)]="idTransactionParentConcept"
                            [ngModelOptions]="{ standalone: true }"
                            [contentEditable]="false"
                            [dataSource]="cashCategoriesService.selectableTransactionConcepts"
                            [fields]="transactionConceptFields"
                            (change)="onTransactionParentConceptChange($event)"
                        ></ejs-dropdownlist>
                    </div>
                    <label><b>Subconcepto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <ejs-dropdownlist
                            [(ngModel)]="idTransactionConcept"
                            [ngModelOptions]="{ standalone: true }"
                            [contentEditable]="false"
                            [dataSource]="cashFormHandlerService.transactionParentConcept.children"
                            [fields]="transactionConceptFields"
                            (change)="onTransactionConceptChange($event)"
                        ></ejs-dropdownlist>
                    </div>
                    <label><b>Tipo de Transacción:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        @if (cashFormHandlerService.transactionParentConcept.transactionType) {
                        <span
                            class="badge p-2 w-100"
                            [ngClass]="{
                                'bg-danger': cashFormHandlerService.transactionParentConcept.transactionType.id === 0,
                                'bg-success': cashFormHandlerService.transactionParentConcept.transactionType.id === 1
                            }"
                        >
                            {{
                                cashFormHandlerService.transactionParentConcept.transactionType.id === 1
                                    ? '💰 Ingreso'
                                    : '💸 Egreso'
                            }}
                        </span>
                        }
                    </div>

                    <div formArrayName="payments">
                        @for (payment of cashFormHandlerService.paymentsArray.controls; track payment; let i = $index) {
                        <div [formGroupName]="i" class="row">
                            <div class="col-5">
                                <label>
                                    <!--                                        <b>Monto {{ i + 1 }}:</b>  TODO - #156: add back when two payment methods are implemented-->
                                    <b>Monto:</b>
                                </label>
                                <div class="input-group input-group-sm mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input
                                        id="amount"
                                        class="form-control"
                                        type="number"
                                        min="0"
                                        aria-describedby="amount"
                                        formControlName="amount"
                                    />
                                </div>
                            </div>
                            <div class="col-7">
                                <app-payment-method-selector
                                    id="paymentMethod"
                                    name="paymentMethod"
                                    aria-describedby="paymentMethod"
                                    [formGroup]="payment"
                                    [label]="'Método de pago'"
                                    [isReadOnly]="cashFormHandlerService.saved"
                                ></app-payment-method-selector>
                            </div>
                            <div class="col-12">
                                @if ( this.cashFormHandlerService.submitted &&
                                cashFormHandlerService.cashControl['payments']['controls'][i]['controls'][ 'amount'
                                ].errors ) {
                                <div class="text-danger">
                                    <small>Ingrese un monto válido</small>
                                </div>
                                }
                            </div>
                        </div>
                        }
                    </div>

                    <label><b>Nota:</b></label>
                    @if ( this.cashFormHandlerService.submitted && cashFormHandlerService.cashControl['note'].errors ) {
                    <div class="text-danger">
                        <small>Ingrese una nota descriptiva con 10 caracteres o más</small>
                    </div>
                    }
                    <div class="input-group input-group-sm pb-0 mb-2">
                        <textarea class="h-100 form-control" rows="4" aria-describedby="note" formControlName="note">
                        </textarea>
                    </div>
                    <label><b>Fecha y Hora:</b></label>
                    <div class="input-group input-group-sm">
                        <label>{{ currentDateTime }}</label>
                    </div>
                    <label><b>Usuario a Cargo:</b></label>
                    <div class="input-group input-group-sm">
                        <label>{{ currentUser.userName }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
