<!-- TODO: Issue #84 - Make the modal visible after adding an item to the cart -->
<div class="modal fade" id="carrito-mensaje" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>&nbsp;</h4>
            </div>
            <div class="modal-body">
                <i class="fa fa-check icono-ok"></i>
                <h2>Producto Agregado</h2>
                <p>Se agrego un nuevo producto al carrito</p>
            </div>
            <div class="modal-footer">
                <a href="/carrito" class="btn btn-success">Ver Carrito</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Seguir Comprando</a>
            </div>
        </div>
    </div>
</div>

<div class="global-wrapper clearfix" id="global-wrapper">
    <section class="w-100">
        <img class="w-100" src="./assets/imagenes/tema/slides/productos.jpg" alt="" />
    </section>

    <br />

    <section class="product_grid container-fluid">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-2">
                <aside class="category-filters">
                    <nav class="category-filters-section">
                        <ul class="cateogry-filters-list">
                            <li>
                                <h6>Categorías</h6>
                            </li>
                            <li class="_active">
                                <!-- TODO: Issue #82. Apply count of existing items for each category. Build a pipe. -->
                                <a [routerLink]="productsService.generatePageRoute(1, 'all', 'all')"
                                    ><strong>Todas</strong>
                                    <!--                                    <span class="count">({{ productsService.categories.length }})</span>-->
                                </a>
                            </li>
                            <li class="_active" *ngFor="let category of productsService.categories">
                                <!-- TODO: Issue #82. Apply count of existing items for each category. Build a pipe. -->
                                <a
                                    [ngClass]="{ active: productsService.currentCategory === category.id }"
                                    [routerLink]="productsService.generatePageRoute(1, 'all', category.id)"
                                    >{{ category.title }}
                                    <!--                                    <span class="count">({{ productsService.categories.length }})</span>-->
                                </a>
                            </li>
                        </ul>
                        <br />
                        <br />
                        <ul class="cateogry-filters-list">
                            <li>
                                <h6>Marcas</h6>
                            </li>
                            <!-- TODO: Issue #82. Apply count of existing items for each category. Build a pipe. -->
                            <li class="_active">
                                <a [routerLink]="productsService.generatePageRoute(1, 'all', null)"
                                    ><strong>Todas</strong>
                                    <!--                                    <span class="count">({{ productsService.categories.length }})</span>-->
                                </a>
                            </li>
                            <li class="_active" *ngFor="let manufacturer of productsService.manufacturers">
                                <a
                                    [ngClass]="{ active: productsService.currentManufacturer === manufacturer.id }"
                                    [routerLink]="productsService.generatePageRoute(1, manufacturer.id, 'all')"
                                >
                                    <!-- TODO: Issue #83. Apply count of existing items for each manufacturer. Build a pipe. -->
                                    {{ manufacturer.title }}
                                    <!-- <span class="count">({{ productsService.manufacturers.length }})</span>-->
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="col-12 col-sm-9 col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
    <br />
</div>
