body
{
    cursor: default;
}
a,
a:hover,
a:focus
{
    outline: none;
}
/*
 * Navbar
 */
.navbar-before-inverse
{
    background: #2c6d98;
}
.navbar-main-white
{
    background: #141e33;
}
.navbar-brand > img
{
    width: 180px;
}
.navbar-nav 
{
    font-family: 'Open Sans';
    color: #f1f1f1;
}
.menu-principal li a:hover
{
    background: #004981 !important;
    
}
.menu-navegacion-2
{
    border-top: solid 1px #1e2e4f;
    border-bottom: solid 1px #1e2e4f;
}
/*
    Buscador
*/
.menu-navegacion-buscador
{
    border-top: solid 1px #1e2e4f;
    box-shadow: none;
}
.menu-navegacion-buscador .container
{
    background: #004981;
    padding: 0;
    position: relative;
}
.navbar-main-search-category
{
    border: none !important;
    padding-right: 20px;
    width: 100%;
}
.navbar-main-search
{
    border: none !important;
    background: none;
    padding: 0;
    width: 100%;
}
.navbar-form
{
    background: none;
    max-width: 450px;
    margin-left: 10px;
}
.campo-buscador
{
   /* color: #fff;
    background: #343e55;
    border: none;
    border-radius: 0;
    font-size: 16px;
    height: 50px;
    width: 100%;
    z-index: 110;*/
}
.boton-buscar
{
   /* background: #5e96cc;
    color: #fff;
    height: 50px;
    top: 0;
    position: absolute;
    right: 0;
    width: 50px;*/
}
.boton-borrar-busqueda
{
    border: none;
    border-radius: 0;
    background: none;
    font-size: 20px;
    color: #5e96cc;
    line-height: 40px;
    height: 50px;
    top: 0;
    position: absolute;
    right: 50px;
    width: 50px;
}
.campo-buscador:focus
{
    box-shadow: none;
}
.menu-secciones
{
    display: none !important;
}
.mostrar-submenu
{
    display: block !important;
}
.menu-principal-2
{
    text-align: center;
    padding: 0;
}
.menu-principal-2 a
{
    color: #fff;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
    display: inline-block;    
}
.menu-principal-2 a:hover
{
    background: #004981;
    text-decoration: none;
}
.icono-fa-menu
{
    color: #d3d3d3;
}
.top-cabecera .navbar-before-sign
{
    color: #13364c !important;
}
.drop-caret
{
    border-radius: 0;
    background: none;
    height: 100%;
    width: 100%;
}
.drop-caret:before
{
    content: '';
}
.menu-usuario li a
{
    margin-left: 10px;
    font-size: 13px !important;
}
.menu-usuario li a:hover
{
    background: none !important;
}
/*
 *
 */
.global-wrapper
{
    /*background: #f1f1f1;*/
}
.popup-text
{
    text-align: center;
}
.popup-text span
{
    display: block;
    float: left;
    height: 100px;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}
.popup-text i
{
    font-size: 20px;
}
.menu-usuario li a.popup-text
{
    font-size: 14px;
    
}
.popup-text i
{
    font-size: 16px;
}
.slider-item-caption-title,
.slider-item-caption-desc
{
    text-align: center;
}
h5.titulo-menor
{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 29px;
}
.slider-item-caption-desc
{
    font-weight: 300;
    font-size: 18px;
}
.imagen-slider-1
{
    left: 0;
    position: absolute;
    bottom: 0;
    max-width: 1000px;
}
.banner-matafuegos,
.banner-carteleria,
.banner-elementos
{
    bottom: -13px; 
    position: absolute;
    right: 10px;
}
.banner-carteleria
{
    bottom: 10px;
}
.banner-elementos
{
    bottom: 10px;
}
.banner-title,
.banner-shop-now
{
    color: #262626;
}
.banner-title
{
    margin: 30px 0 20px 0;
}
.banner-desc
{
    color: #707070;
}
.banner-seguridad .banner-title,
.banner-seguridad .banner-desc,
.banner-seguridad .banner-shop-now
{
    color: #fff;
}
.slider-empresa .slider-item-caption-white,
.slider-empresa .slider-item-caption-white .slider-item-caption-title
{
    text-align: left;
    width: 100%;
}
.slider-descripcion-empresa
{
    text-align: left;
    width: 80%;
    text-shadow: 0px 0px 3px #000;
}
.main-footer-img
{
    right: 50px;
    max-width: 180px;
}
.iconos-tarjetas
{
    margin: 10px 0 0 0;
    text-align: right;
}
.widget-title-lg
{
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
}
h1.page-title
{
    font-size: 40px;
}
.usuario-edicion .page-header
{
    margin: 0;
}
h1.h1-tienda
{
    margin: 20px 0 30px 15px;
}
.product-caption-title
{
    min-height: 80px;
    padding: 5px 0 5px 0;
}
.h1-producto
{
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 30px 15px;
}
.descripcion-larga 
{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.descripcion-larga h2
{
    color: #333;
    font-size: 16px;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
}
.cateogry-filters-list > li a
{
    font-size: 14px;
}
.certificaciones
{
    margin-top: 20px;
    text-align: center;
}
.certificaciones h3
{
    color: #707070;
    border-bottom: solid 1px #d9d9d9;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}
.certificaciones img
{
    display: inline-block;
    margin: 0 0 20px 10px;
    max-height: 60px;
}
.marca
{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    z-index: 100;
}
.product-page-product-wrap
{
    background: #fff;
    overflow: hidden;
    width: auto;
}
.ficha-tecnica
{
    margin-top: 20px;
}
.boton-buscar
{
    border: none;
}
.contenedor-precio
{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.productos .producto-precio
{
    bottom: 10px;
    left: 0;
    position: absolute;
}
.boton-pagina-anterior
{
    bottom: -60px;
    color: #333;
    float: left;
    font-size: 16px;
    position: absolute;
    left: 0;
}
.listado-aplicaciones li
{
    border-bottom: dotted 1px #d9d9d9;
    padding: 5px 0 5px 45px;
    position: relative;
}
.listado-aplicaciones img
{
    float: left;
    margin: 0 20px 0 0;
    max-height: 15px;
    position: absolute;
    left: 0;
    top: 7px;
}
.filtros-aplicados > li a
{
    color: #fff;
    font-size: 10px;
}
.product-labels > li.rojo
{
    background: #ff0000;
}
.product-labels > li.verde
{
    background: #03944d;
    top: 20px;
}
.usuario-edicion .form-group 
{
    float: left;
    position: relative;
    width: 100%;
}
.usuario-edicion .form-group strong
{
    font-size: 11px;
    margin-left: 3px;
}
.usuario-edicion h6,
.registro h6
{
    color: #707070;
    font-size: 22px;
    font-weight: 600;
    float: left;
    margin-top: 20px;
    padding: 0 0 10px 16px;
    width: 100%;
}
.ajax-cargar-localidades
{
    background: #fff;
    left: 25px;
    height: 30px;
    display: none;
    padding: 10px;
    position: absolute;
    top: 0px;
    z-index: 10;
}
.formulario-texto-error
{
    font-size: 11px;
    color: #ff0000;
}
.box-highlight
{
    margin: 0 auto 0 auto;
}
/*
.sistema-login .input-group
{
    float: left;
    width: 100%;
}
*/
.boton-recuperar-clave
{
    text-decoration: none;    
}
.boton-recuperar-clave:hover
{
    text-decoration: none;
}
.carteleria-pagina
{
    border: solid 4px #fff;
    box-shadow: 6px 6px 1px #939393;
}
.menu-carteleria li
{
    border-bottom: solid 1px #d9d9d9;
    margin: 0;
    padding: 5px 0 5px 5px;
}
.menu-carteleria li a:hover,
.menu-carteleria li a:focus
{
    text-decoration: none;
}
.menu-carteleria li:hover
{
    color: #fff;
    background: #d9d9d9;
}
.f-nav{  /* To fix main menu container */
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.f-nav-2{  /* To fix main menu container */
    z-index: 10;
    position: fixed;
    left: 0;
    top: 55px;
    width: 100%;
}
a.logo-chico img
{
    max-height: 30px;
    width: auto;
}
a.logo-no-mostrar
{
    display: none !important;
    transition: 0.5s;
}
.contenedor-botones-registro
{
    margin: 10px 0 0 20px;
}
.opcion-toggle
{
    color: #333;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.opcion-toggle:hover,
.opcion-toggle:focus
{
    text-decoration: none;
}
.cateogry-filters-list-2
{
    
}
.form-group 
{
    float: left;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.contenedor-registro-usuario .form-group  input,
.contenedor-registro-usuario .form-group  select
{
    height: 40px;
}
.contenedor-registro-usuario .form-group  textarea
{
    margin: 10px 0 0 0;
    resize: none;
}
.registro .form-group-localidad
{
    width: 75%;
}
.boton-enviar-login
{
    background: #004981;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 6px 10px 6px 10px;
}
.form-group  strong
{
    display: none;
}
.contenedorFormulario
{
    clear: both;
    width: 100%;
}
.contenedor-registro-usuario label
{
    display: none;
    width: 100%;
}
.contenedor-registro-usuario .col-sm-8
{
    width: 100%;
	/*manu*/
	max-width: 100%;
}
.contenedor-registro-usuario .form-group-usuario label
{
    float: left;
    padding: 0;
    margin: 20px 0 20px 40px;    
    max-width: 600px;
}
.contenedor-registro-usuario .form-group-usuario .col-sm-8
{
    float: left;
    left: 20px;
    position: absolute;
    top: 10px;
    width: 50px;
}
.registro .form-group-clave,
.registro .form-group-claveRepetir,
.registro .form-group-nombre,
.registro .form-group-apellido,
.registro .form-group-dni,
.registro .form-group-cuit,
.registro .form-group-telefonos,
.registro .form-group-celular,
.registro .form-group-idLocalidad,
.registro .form-group-codigoPostal
{
    /*float: left;
    width: 50%;*/
}
.registro .form-group-idProvincia,
.registro .form-group-idLocalidad
{
    /*width: 40%;*/
}
.registro .form-group-codigoPostal
{
   /* width: 20%;*/
}
.registro .form-group-calle
{
   /* float: left;
    width: 50%;*/
}
.registro .form-group-numero,
.registro .form-group-sufijo,
.registro .form-group-piso,
.registro .form-group-departamento
{
   /* float: left;
    width: 16%;*/
}
.registro .form-group-sufijo
{
    /*display: none;*/
}
.registro .form-group-dni,
.registro .form-group-telefonos,
.registro .form-group-celular
{
    /*width: 33.33%;*/
}
.registro .form-group-dni2,
.registro .form-group-cuit2,
.registro .form-group-tipoFactura
{
    /*width: 33.33%;*/
}
.registro .form-group-nombre2,
.registro .form-group-apellido2,
.registro .form-group-direccion2,
.registro .form-group-codigoPostal2
{
    /*width: 50%;*/
}
.registro .form-group-idProvincia2,
.registro .form-group-ciudad2,
.registro .form-group-telefono2

{
     /*width: 33.33%;*/
}


@media(min-width:768px){
	
	.registro .form-group-clave,
.registro .form-group-claveRepetir,
.registro .form-group-nombre,
.registro .form-group-apellido,
.registro .form-group-dni,
.registro .form-group-cuit,
.registro .form-group-telefonos,
.registro .form-group-celular,
.registro .form-group-idLocalidad,
.registro .form-group-codigoPostal
{
    float: left;
    width: 50%;
}
.registro .form-group-idProvincia,
.registro .form-group-idLocalidad
{
    width: 40%;
}
.registro .form-group-codigoPostal
{
    width: 20%;
}
.registro .form-group-calle
{
    float: left;
    width: 50%;
}
.registro .form-group-numero,
.registro .form-group-sufijo,
.registro .form-group-piso,
.registro .form-group-departamento
{
   float: left;
    width: 16%;
}
.registro .form-group-sufijo
{
    display: none;
}
.registro .form-group-dni,
.registro .form-group-telefonos,
.registro .form-group-celular
{
    width: 33.33%;
}
.registro .form-group-dni2,
.registro .form-group-cuit2,
.registro .form-group-tipoFactura
{
    width: 33.33%;
}
.registro .form-group-nombre2,
.registro .form-group-apellido2,
.registro .form-group-direccion2,
.registro .form-group-codigoPostal2
{
    width: 50%;
}
.registro .form-group-idProvincia2,
.registro .form-group-ciudad2,
.registro .form-group-telefono2

{
     width: 33.33%;
}
}

.check-facturacion 
{
    float: left;
    background: #f1f1f1;
    margin: 0 0 10px 0;
    padding: 10px;
    position: relative;
    width: 100%;
}
.check-facturacion label
{
    display: block;
    left: 0;
    padding: 0 0 0 45px;
    position: absolute;
    top: 10px;
}
.check-facturacion input
{
    width: 30px;
}
.direccion-factura
{
    display: none;
}
.contenedor-h1
{
    background: #fff;
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    margin: 0;
    padding: 0;
}
.contenedor-h1 .page-header
{
    margin: 0 !important;
    padding: 20px 0 10px 0 !important;
}
.contenedor-h1 h1.page-title
{
    color: #707070;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 300 !important;
    text-transform: uppercase;
}
@media (max-width: 700px) {
    .form-group-calle
    {
        float: left;
        width: 100%;
    }
    
    .form-group-numero,
    .form-group-sufijo,
    .form-group-piso,
    .form-group-departamento
    {
        float: left;
        width: 33%;
    }
}
@media (max-width: 992px){
    .h2-tu-pedido
    {
        margin-top: 30px;
    }
}
.formulario-texto-error
{
    float: left;
    position: absolute;
    bottom: -15px;
    width: 100%;
}
.form-group-numero .formulario-texto-error
{
    bottom: -20px;
}
.slider-item-caption-title
{
    font-size: 46px;
}
.novedades-y-ofertas
{
    font-size: 33px;
}
.modal-dialog
{
    margin-top: 10%;
}

.icono-ok
{
    border: solid 1px #03944d;
    border-radius: 50%;
    color: #03944d;
    font-size: 40px;
    height: 60px;
    padding: 10px 0 0 0;
    width: 60px;
    text-align: center;
}

.menu-navegacion
{
    border: none;
    padding-bottom: 10px;
    z-index: 100;
    box-shadow: none;
}
.sub-menu
{
    background: #141e33;
    display: none;
    top: 0;
    padding: 0px 0 20px 0;
    position: fixed;
    left: 0;
}
.sub-menu .contenedor-logo
{
    position: relative;
    padding-left: 60px
}
.logo-iso
{
    left: 5px;
    position: absolute;
    top: 14px;
}
.sin-padding
{
    padding: 0;
}
.contenedor-botones-registro
{
    padding: 0;
}
.registro-newsletter
{
    background: #e66514;
    padding: 30px 0 0 0;
}
.newsletter-estado-home-error,
.newsletter-estado-home-exito,
.newsletter-cargando-home
{
    display: none;
    margin: 10px 0 0 0;
}
.newsletter-cargando-home
{
    color: #fff;
    font-size: 12px;
}
.dropdown-menu-shipping-cart-total
{
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}
.dropdown-menu-shipping-cart-item a:hover
{
    background: none !important;
}
h4.h4-medios-de-pago
{
    font-family: 'Open Sans' !important;
    font-size: 26px;
    font-weight: 300;
    color: #707070;
    margin: 30px 0 30px 0;
    text-align: center;
}
.slider-item-medios-de-pago
{
    height: auto;
    padding-bottom: 40px;
    width: 100%;
}
.imagen-medios-de-pagos
{
    height: auto;
    max-width: 1072px;
    width: 100%;
}
/*
.sistema-login
{
    background: #000;
}
.sistema-login .global-wrapper
{
    background: url('/imagenes/bomberos.jpg') 0 0 no-repeat;
    background-size: cover;
}
*/
.edicion-datos .global-wrapper
{
    /*background: #f1f1f1;*/
}
.contenedor-olvido-clave
{
    /*margin: 20px auto 40px auto;*/
}

.contenedor-olvido-clave label,
.contenedor-olvido-clave .col-sm-8
{
   /* width: 100%;*/
}
/*
.contenedor-olvido-clave label
{
    color: #707070;
    text-transform: uppercase;
}
*/
.h2-recuperar-clave
{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
/*
 * Login Usuario
 */
.boton-opcion-usuario
{
    display: block;
    color: #707070;
    border-bottom: solid 1px #d9d9d9;
    font-size: 14px;
    padding: 10px 0 10px 10px;
}
.boton-opcion-usuario:hover
{
    color: #000;
    background: #d9d9d9;
    border-radius: 4px;
    text-decoration: none;
}
.bloque-usuario
{
    background: #f9f9f9;
    padding: 20px;
    margin: 0 0 20px 0;
    width: 100%;
}
.h2-usuario
{
    color: #707070;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.usuario-correo
{
    color: #989898;
}
/*
 * Carritos
 */
.boton-carrito
{
    color: #6a88c6 !important;
    margin: 2px 0 0 0;
}
.boton-carrito i
{
    font-size: 16px;
}
.boton-carrito span
{
    color: #888888 !important;
    font-size: 13px !important;
}
/*
.boton-carrito-agregar
{
    font-size: 10px;
    display: none;
    right: 10px;
    position: absolute;
    bottom: 10px;
    z-index: 10;
}
*/
/*
.carrito-agregar-ajax
{
    background: #ececec url('/imagenes/ajax-loader.gif') center center no-repeat;
    height: 100%;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
*/
.dropdown-menu-shipping-cart .boton-carrito-quitar
{
    color: #ff0000 !important;
    position: absolute;
    right:  0;
    top: 10px;
}
.dropdown-menu-shipping-cart li
{
    position: relative;
}
.carrito-cantidad
{
    float: right;
}
/*.productos .boton-carrito-agregar
{
    background: #fff;
    border: none;
    color: #333;
    display: block;
    font-size: 20px;
    z-index: 8;
}
.productos .boton-carrito-agregar:hover
{
    color: #03944d;
}*/
.boton-carrito-ver
{
    color: #fff !important;
    bottom: 10px;
    border-radius: 2px;
    background: #2c6d98;
    font-size: 12px !important;
    padding: 6px 8px 6px 8px !important;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
}
.boton-carrito-ver:hover
{
    background: #2c6d98 !important;
}
h1.h1-carrito-de-compra
{
    font-family: 'Open Sans' !important;
    font-size: 26px !important;
    font-weight: 300 !important;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}
#carrito-mensaje h2
{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}
#carrito-mensaje .modal-content
{
    text-align: center;
}
.shopping-cart-total-list
{
    background: #fff;
    border-radius: 3px;
    padding: 0;
    box-shadow: #c4c4c4 0 0 2px;
}
.shopping-cart-total-list
{
    border: none;
    padding: 0;    
}
.shopping-cart-total-list h2
{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}
.shopping-cart-total-list h2 span
{
    float: right;
}
.shopping-cart-total-list h3
{
    color: #004981;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    width: 100%;
}
.shopping-cart-total-list h3 span
{
    color: #000;
    float: right;
    font-weight: normal;
}
.shopping-cart-total-list h3 span.aclaracion-envio
{
    color: #707070;
    font-size: 14px;
    margin: 8px 0 0 0;
    text-transform: none;
}
.shopping-cart-total-list .h3-tu-pedido,
.shopping-cart-total-list .h3-total
{
    color: #333 !important;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}
.shopping-cart-total-list .h3-total
{
    background: #004981;
    color: #fff !important;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: none;
    padding: 20px;
}
.shopping-cart-total-list .h3-total span
{
    color: #fff !important;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px !important;
}

.divisor-producto
{
    border-bottom: solid 1px #d9d9d9;
    display: block;
    margin: 10px 0 10px 0;
    width: 100%;
    float: left;
}

.h2-tu-pedido,
.h2-sub-total,
.h2-envio,
.h2-total,
.h2-forma-de-pago,
.h2-usuario-registrado,
h2-usuario-nuevo
{
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}
.h2-sub-total,
.h2-envio,
.h2-total,
.h2-forma-de-pago,
.h2-usuario-registrado,
h2-usuario-nuevo
{
    border-bottom: solid 1px #d9d9d9;
    float: left;
    font-size: 18px;
    margin: 30px 0 30px 0;
    padding: 0 0 30px 0;
    width: 100%;
}
.h2-sub-total
{
    margin-top: 0;
}
.h2-sub-total span,
.h2-total span
{
    float: right;
}
.h2-envio
{
    margin-bottom: 0;
    margin-top: 0;
}
.h2-total
{
    border: none;
    color: #3085d6;
    padding: 20px;
    margin-top: 0;
}
.h2-total span
{
    color: #3085d6;
    float: right;
    font-size: 22px;
}
.h2-forma-de-pago
{
    color: #333;
    border: none !important;
    border-top: solid 1px #f1f1f1 !important;
    font-size: 16px;
    margin: 0;
}
.h2-usuario-registrado,
.h2-usuario-nuevo
{
    color: #3085d6;
    font-size: 18px;
    border: none;
    border-top: solid 1px #d9d9d9;
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
}
.finalizar-compra .h2-forma-de-pago
{
    border-top: solid 1px #d9d9d9 !important;
    padding-top: 20px;
    margin: 0;
}
.finalizar-compra .h2-total
{
    margin-bottom: 0;
}
.item-producto
{
    float: left;
    border-bottom: solid 1px #d9d9d9;
    padding: 10px 0 10px 0;
    position: relative;
    width: 100%;
}
.item-nombre
{
    font-size: 13px;
    font-weight: 500;
    float: left;
    width: 100%;
}
.item-cantidad
{
    color: #a7a7a7;
    float: left;
    font-weight: 600;
    text-transform: uppercase;
}
.item-precio
{
   /* background: #f1f1f1;
    color: #333;
    float: right;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding: 0 10px 0 10px;
    position: absolute;
    right: 10px;
    top: 10px;
	*/
	float: right;
	position: absolute;
    right: 10px;
    top: 10px;
}
.columna-derecha
{
    float: right;
}
@media (max-width: 768px)
{
    .item-precio
    {
        position: relative;
        float: right;
    }
}
.ul-medios-de-pago
{
    list-style: none;
    padding: 0;
}
.ul-medios-de-pago li
{
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.ul-medios-de-pago li input
{
    outline: none !important;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
input::-moz-focus-inner
{ 
    border: 0; 
}
.aclaracion-envio
{
    color: #707070;
    display: block;
    font-size: 14px;
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
}
.formas-de-pago label
{
    width: 100%;
}
.etiqueta-forma-pago
{
    font-size: 14px;
    margin: 0 0 15px 0;
    float: left;
    outline: none !important;
    overflow: hidden;
    padding: 0 0 0 30px;
    width: 100%;
    z-index: 100;
}
.aclaracion-pago
{
   /* background: #d9d9d9;
    list-style: none;
    float: left;
    margin: 0 0 20px 0;
    display: none;
    padding: 10px;
    width: 100%;*/
	display: none;
	list-style: none;
    float: left;
}
.boton-finalizar-compra,
.boton-enviar-compra
{
   /* background: #3085d6 !important;
    border-radius: 0;
    border: none;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    float: left;
    margin: 0 0 20px 0;
    padding: 20px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100% !important;
    box-shadow: 3px 3px 1px #579ff9;*/
}
.boton-finalizar-compra:hover,
.boton-enviar-compra:hover
{
 /*   color: #fff !important;
    background: #1f63a3 !important;
    text-decoration: none !important;
    box-shadow: 3px 3px 1px #579ff9; */
}
.mapa-google
{
    float: left;
    border: solid 1px #c4c4c4;
    margin: 0 20px 0 20px;
    width: 100%;
}
#map_canvas
{
    height: 400px;
    width: 100%;
}
.h2-como-llegar
{
    font-weight: 300;
    font-size: 22px;
    margin: 40px 0 0 20px;
}
.help-block 
{
    float: left;
    margin: 0;
    padding: 0;
}
.help-block ul
{
    margin: 0;
    padding: 0;
}
.help-block ul li
{
    color: #ff0000;
    list-style: none;
    padding: 0;
    margin: 0;
}
.form-group-nombre,
.form-group-telefono
{
   /* float: left;
    width: 50%;*/
}
@media(min-width:768px){
	.form-group-nombre,.form-group-telefono{
		float: left;
		width: 50%;
	}
}
/*
 * Carrito MP
 */
/*
.h2-mercado-pago
{
    font-size: 40px;
    font-weight: 300;
    margin: 30px 0 10px 0;
}
.h2-mercado-pago strong
{
    font-weight: 400;
}
*/
.carrito-mp-total
{
    margin: 20px 0 20px 0;
    font-size: 30px;
    font-weight: 300;
    display: block;
}
.boton-finalizar-compra-mp
{
    display: inline-block;
    float: none;
    margin: 20px auto 0 auto;
    width: 300px;
}
.boton-usuario-ingresar
{
    color: #1f63a3;
    font-weight: bold;
}
.boton-nuevo-usuario
{
    color: #03944d;
    font-weight: bold;
}
.registro h6.h6-datos-receptor
{
    font-size: 16px;
    font-weight: 500;
}
.boton-carrito-ver-2
{
    font-size: 15px;
    font-weight: normal;
    color: #3085d6;
    text-decoration: none;
}
.h3-carrito
{
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px 0;
}
.h3-carrito a
{
    font-size: 14px;
    float: right;
}
.h3-carrito a:hover
{
    text-decoration: none;
}
.h3-carrito strong
{
    font-weight: 400;
}
.boton-carrito-ver-2:hover
{
    color: #333;
    text-decoration: none !important;
}
/*
.numero-carrito
{
    color: #3085d6;
    font-size: 26px;
}*/
/*
.numero-pedido
{
    font-size: 18px;
}
*/
.tipo-pago
{
    border-radius: 0;
    box-shadow: none;
}
.tipo-pago thead tr,
.tipo-pago thead th
{
    background: #f1f1f1;
}
.listado-productos thead tr th
{
    font-weight: 300;
    text-transform: uppercase;
}
.tipo-pago thead tr th
{
    border: none;
    padding: 15px 10px 10px 10px;
    position: relative;
}
.tipo-pago tbody tr td.fondo-gris
{
    background: #f1f1f1;
}
.tipo-pago thead tr th h3
{
    font-weight: 300;
}
.tipo-pago thead tr th span
{
    font-weight: 300;
}
.h6-envio-domicilio,
.h6-retiro-local
{
    display: none;
}
.envio-domicilio,
.retiro-local
{
    
}
.retiro-local
{
    border-left: solid 1px #d9d9d9;
}
.boton-envio-domicilio,
.boton-retiro-local
{
    border: solid 1px #fff;
    display: block;
    overflow: hidden;
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
}
.boton-envio-domicilio img,
.boton-retiro-local img
{
    float: left;
    margin-bottom: 30px;
}
.boton-envio-domicilio:hover,
.boton-retiro-local:hover,
.boton-envio-domicilio:focus,
.boton-retiro-local:focus
{
    background: #f1f1f1;
    text-decoration: none;    
}
.boton-envio-domicilio .chico,
.boton-retiro-local .chico
{
    font-size: 13px;
    display: block;
    float: left;
    width: 100%;
}
.boton-activo
{
    background: #f1f1f1;
    border-color: #d9d9d9;
}
.boton-inactivo
{
    background: #fff;
    border-color: #fff;
    opacity: 0.2;
}
.boton-inactivo:hover
{
    opacity: 0.8;
}
mensaje-alerta-envio-domicilio,
.mensaje-alerta-retiro-local
{
    display: none;
}
.ocultar-formulario
{
    display: none;
}
.mostrar-fomulario
{
    display: block;
}
.pago-aprobado
{
    float: right;
    right: 10px;
    position: absolute;
    top: 5px;
    width: auto;
}
.detalle-pedido-logo
{
    margin: 0 0 20px 0;
    padding: 15px 0 10px 0;
}
.boton-pagar-mp
{
    border: none;
    padding: 10px 0 10px 0;
    width: 100%;
}
.botones-login li
{
    float: left;
    text-align: right;
    width: 50%;
}
.botones-login li:first-child
{
    text-align: left;
}
.boton-crear-usuario:hover,
.boton-olvido-clave:hover
{
    text-decoration: none;
}
.boton-olvido-clave
{
    float: right;
}
.ajax-login
{
    display: none;
}
.mensaje-error,
.registro-mensaje-error
{
    display: none;
}
.boton-cambiar-clave
{
    float: left;
    margin: 10px 10px 10px 20px;
    width: 100%;
}
.boton-cambiar-clave:hover,
.boton-cambiar-clave:focus
{
    color: #000;
    text-decoration: none;
}
.campos-clave
{
    display: block;
    width: 100%;
    display: none;
}
.campos-clave p
{
    color: #707070;
    padding-left: 20px;
}
.h2-servicios
{
    font-size: 26px;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
}
.ul-informacion
{
    font-size: 15px;
}
.ul-informacion li
{
    padding: 5px;
}
.blog-sidebar-posts li a:hover
{
    color: #333;
    text-decoration: none;
}
.contenedor-servicios p
{
    font-size: 16px;
}
.product-page-side-section
{
    border: none;
    margin: 0 0 30px 0;    
}
.contact-form-box h2
{
    font-size: 20px;
}