.wj-flexgrid {
    font-size: 0.75rem;
}

.card-body {
    .card-body {
        height: unset;
    }
}

#cash-transaction-selected {
    height: 768px;
}

#left-container {
    height: 826px;
}

#cash-transaction-grid {
    height: 512px;
}

#cash-transaction-new {
    height: 168px;
}
