<div class="row">
    <div id="left-container" class="col-8 d-flex flex-column justify-content-between">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 d-flex">
                        <button class="btn btn-sm btn-outline-primary mr-3">💵 Abrir Caja</button>
                        <button class="btn btn-sm btn-outline-secondary mr-3">📊 Generar Reporte</button>

                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha</span>
                            </div>
                            <input
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="from"
                                [maxDate]="cashDashboardService.ngbMaxDate"
                                [displayMonths]="displayMonths"
                                [navigation]="navigation"
                                [outsideDays]="outsideDays"
                                [(ngModel)]="cashDashboardService.ngbDate"
                                (ngModelChange)="refreshGrid(cashDashboardService.ngbDate)"
                                ngbDatepicker
                                #from="ngbDatepicker"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="from.toggle()" type="button">
                                    📅
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cash-transaction-grid" class="card-body">
                <wj-flex-grid
                    #cashGrid
                    *ngIf="cashDashboardService.gridCollection"
                    [itemsSource]="cashDashboardService.gridCollection"
                    [selectionMode]="'Row'"
                    [headersVisibility]="'Column'"
                    [autoGenerateColumns]="false"
                    [allowResizing]="'Columns'"
                    [showSelectedHeaders]="'Row'"
                    [isReadOnly]="true"
                    (selectionChanged)="getRegisterDetails(cashDashboardService.gridCollection.currentItem)"
                >
                    <wj-flex-grid-column
                        *ngFor="let column of columns"
                        [width]="column.width"
                        [binding]="column.binding"
                        [header]="column.header"
                        [visible]="true"
                    >
                        <ng-template *ngIf="column.header === 'Ingreso'" wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            {{ cell.item.type.id === 1 ? '$ ' + cell.item.amount : '' }}
                        </ng-template>
                        <ng-template *ngIf="column.header === 'Egreso'" wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            {{ cell.item.type.id === 0 ? '$ ' + cell.item.amount : '' }}
                        </ng-template>
                        <ng-template *ngIf="column.header === 'Hora'" wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            {{ cell.item.date.format('HH:mm') }}
                        </ng-template>
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header d-flex justify-content-between">
                <div>Nueva Transacción</div>
                <button class="btn btn-sm btn-outline-success mr-3">💵 Guardar Registro</button>
            </div>
            <div id="cash-transaction-new" class="card-body">
                <div class="row h-100">
                    <div class="col-4">
                        <label><b>Tipo de Transacción:</b></label>
                        <div class="input-group input-group-sm">
                            <wj-combo-box
                                class="form-control form-control-sm p-0"
                                id="type"
                                name="type"
                                aria-describedby="type"
                                formControlName="type"
                                [isEditable]="false"
                                [isReadOnly]="cashFormHandlerService.saved"
                                [itemsSource]="cashDashboardService.transactionTypes"
                                [selectedItem]="cashFormHandlerService.cashTransaction.type"
                                [selectedIndex]="cashFormHandlerService.cashTransaction.type.id"
                                [displayMemberPath]="'description'"
                            ></wj-combo-box>
                        </div>
                        <label><b>Monto:</b></label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label><b>Nota:</b></label>
                        <div class="form-group h-100 pb-0 mb-0">
                            <textarea class="h-100 form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <label><b>Concepto:</b></label>
                        <div class="input-group input-group-sm">
                            <input class="form-control" />
                        </div>
                        <label><b>Subconcepto:</b></label>
                        <div class="input-group input-group-sm">
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header d-flex justify-content-around">
                <button class="btn btn-sm btn-outline-success mr-3">💵 Editar</button>
                <button class="btn btn-sm btn-outline-danger mr-3">💵 Borrar</button>
            </div>

            <div id="cash-transaction-selected" class="card-body">
                <ng-container *ngIf="cashDashboardService.selectedTransaction">
                    <div class="px-0">
                        <p><strong>ID: </strong> {{ cashDashboardService.selectedTransaction.id }}</p>
                    </div>
                    <div class="px-0">
                        <p><strong>Concepto: </strong> {{ cashDashboardService.selectedTransaction.concept.parent.description }}</p>
                    </div>
                    <div class="px-0">
                        <p><strong>Subconcepto: </strong> {{ cashDashboardService.selectedTransaction.concept.description }}</p>
                    </div>
                    <div class="px-0">
                        <p><strong>Monto: </strong>$ {{ cashDashboardService.selectedTransaction.amount }}</p>
                    </div>
                    <div class="px-0">
                        <p><strong>Tipo de Transacción: </strong>{{ cashDashboardService.selectedTransaction.type.description }}</p>
                    </div>
                    <ng-container *ngIf="cashDashboardService.selectedTransaction.operation.id">
                        <hr />
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <p><b>Operación Asociada: </b>{{ cashDashboardService.selectedTransaction.operation.type }}</p>
                                <p class="mb-0"><b>ID: </b>{{ cashDashboardService.selectedTransaction.operation.id }}</p>
                            </div>
                        </div>
                    </ng-container>
                    <hr />
                    <p><strong>Nota: </strong></p>
                    <p>{{ cashDashboardService.selectedTransaction.note }}</p>
                    <hr />
                    <div class="px-0">
                        <p><strong>Hora: </strong>{{ cashDashboardService.selectedTransaction.date.format('HH:mm') }}</p>
                    </div>
                    <div class="px-0">
                        <p><strong>Usuario: </strong>{{ cashDashboardService.selectedTransaction.audit.createdBy.username }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
