<!-- TODO: Generate admin header component -->
<div *ngIf="displayManagementHeader" class="row mb-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-white border-bottom-0">
                <button class="btn btn-sm btn-outline-secondary" (click)="navigateTo(null, 'grid', 'selected')">
                    💱 Caja Diaria
                </button>
                <button class="ml-3 btn btn-sm btn-outline-secondary" (click)="navigateTo('categories')">
                    📑 Conceptos & Subconceptos
                </button>
                <button
                    *ngIf="displayReportsButton"
                    class="ml-3 btn btn-sm btn-outline-secondary"
                    (click)="navigateTo('report')"
                >
                    📊 Reportes de Caja
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="top-container" class="col-12">
        <router-outlet name="top"></router-outlet>
    </div>
    <div id="left-container" class="col-8">
        <router-outlet name="left"></router-outlet>
    </div>
    <div id="right-container" class="col-4">
        <router-outlet name="right"></router-outlet>
    </div>
</div>
