<div class="row" [formGroup]="form">
    @if (id?.value) {
    <div class="col-2">
        <ejs-numerictextbox
            format="###"
            floatLabelType="Auto"
            min="0"
            formControlName="id"
            [placeholder]="'ID Transacción'"
            [showSpinButton]="false"
            [enabled]="false"
        ></ejs-numerictextbox>
    </div>
    }
    <div class="col">
        <ejs-dropdownlist
            floatLabelType="Auto"
            formControlName="paymentMethod"
            [fields]="fields"
            [dataSource]="data"
            [placeholder]="methodLabel"
            [enabled]="!disabled"
        >
        </ejs-dropdownlist>
    </div>
    <div class="col-3">
        <ejs-numerictextbox
            format="c2"
            floatLabelType="Auto"
            min="0"
            formControlName="amount"
            [placeholder]="amountLabel"
            [showSpinButton]="false"
            [enabled]="!disabled"
        ></ejs-numerictextbox>
    </div>
    @if (date?.value) {
    <div class="col-3">
        <ejs-textbox
            floatLabelType="Auto"
            formControlName="date"
            [placeholder]="dateLabel"
            [enabled]="false"
        ></ejs-textbox>
    </div>
    }
    <div class="col-1 d-flex align-items-center">
        @if (!id.value && index !== 0) {
        <button class="btn btn-sm btn-outline-danger" type="button" (click)="onRemove()">X</button>
        }
    </div>
</div>
