<div class="main-footer">
    <section class="MainFooter ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 col-sm-6 col-md-4 ">
                    <ul class="nav flex-column ">
                        <li class="nav-item ">
                            <a href="/productos/accesorios ">Productos</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/productos/celulares ">Celulares</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/reparaciones ">Reparaciones</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/servicios ">Servicio a empresas</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/novedades ">Novedades</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/contacto-y-ubicacion ">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 ">
                    <address>
                        25 de Mayo 3567 - Santa Fe
                        <br />(342) 4123234 <br />(342) 5-360-966
                    </address>
                </div>
                <div class="col-12 col-sm-6 col-md-4 ">
                    <div class="rrss_icons ">
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/brillantestore/ "><i class="fab fa-instagram "></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/brillantestore.santafe/ "><i class="fab fa-facebook "></i></a>
                            </li>
                            <li>
                                <a href=" "><i class="fab fa-youtube "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="copy ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <hr />
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-right ">
                    <a href="http://www.alma.com.ar " id="footerAlma " class="footerAlmaLogo "
                        ><strong>Alma, agencia de publicidad en Rosario</strong></a
                    >
                </div>
                <div class="col-12 col-sm-6 text-secondary text-center text-sm-right ">
                    &copy; 2018 Brillante
                </div>
            </div>
        </div>
    </section>
</div>
