.main-footer {
    color: #999999;
    background: #ececec;
    padding: 30px 0 10px;
    .nav a {
        color: #999999;
    }
    address {
        margin-bottom: 0;
        margin-top: 20px;
    }
}
