<div class="footer-container">
    <section class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/productos/accesorios ">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/productos/celulares ">Celulares</a>
                        </li>
                        <li class="nav-item">
                            <a href="/reparaciones ">Reparaciones</a>
                        </li>
                        <li class="nav-item">
                            <a href="/servicios ">Servicio a empresas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/novedades ">Novedades</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contacto-y-ubicacion ">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <address>
                        25 de Mayo 3567 - Santa Fe
                        <br />(342) 4123234 <br />(342) 5-360-966
                    </address>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <address>
                        Brillante Store Sur
                        <br />San Jerónimo 1763 - Santa Fe <br />(342) 580-3465
                    </address>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="rrss_icons">
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/brillantestore/ "
                                    ><i class="fab fa-instagram"><fa-icon [icon]="instagramIcon"></fa-icon></i
                                ></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/brillantestore.santafe/ "
                                    ><i class="fab fa-facebook"><fa-icon [icon]="facebookIcon"></fa-icon></i
                                ></a>
                            </li>
                            <li
                                href="https://api.whatsapp.com/send?phone=543425360966&text=%C2%A1Hola!%20me%20contacto%20con%20ustedes%20para%20hacerles%20una%20consulta%20sobre%20sus%20servicios.%20Desde%20ya%20muchas%20gracias"
                            >
                                <a href=" "><i class="fab fa-youtube"></i><fa-icon [icon]="whatsAppIcon"></fa-icon></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="copy">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-right">
                    <a href="http://www.alma.com.ar " id="footerAlma " class="footerAlmaLogo"
                        ><strong>Alma, agencia de publicidad en Rosario</strong></a
                    >
                </div>
                <!-- TODO: Obtener año actual -->
                <div class="col-12 col-sm-6 text-secondary text-center text-sm-right">&copy; 2015 - 2020 Brillante</div>
            </div>
        </div>
    </section>
</div>
