<!-- TODO: #152 - Add settings to configure current branch for application -->
<div class="card-deck">
    <div class="card text-white bg-primary mb-3" (click)="goToOfficeBranches()">
        <div class="card-body">
            <h5 class="card-title">🏢 Sucursales</h5>
            <p class="card-text">Ingresar al menú de gestión de sucursales</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" (click)="goToUserManagement()">
        <div class="card-body">
            <h5 class="card-title">👥 Gestión de Usuarios</h5>
            <p class="card-text">Ingresar al menú de gestión de usuarios</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
