.form-container {
    margin-top: 160px;
    .form-label {
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.02em;
    }
    .avatar-container {
        text-align: center;
        img {
            margin-top: -80px;
            border: 10px solid white;
            border-radius: 80px;
        }
    }
}
