<div class="d-flex justify-content-between align-items-center">
    <div class="pr-2 flex-grow-1">
        <label
            ><b>Descripción del {{ label }}:</b></label
        >
        <div class="input-group input-group-sm">
            <input class="form-control" [(ngModel)]="concept.description" />
        </div>
    </div>

    <div class="px-2 flex-grow-1">
        <label><b>Tipo:</b></label>
        <div class="input-group input-group-sm">
            <wj-combo-box
                *ngIf="!concept.parent"
                class="form-control form-control-sm p-0"
                [(ngModel)]="concept.transactionType"
                [isEditable]="false"
                [itemsSource]="cashTransactionConceptsService.transactionTypes"
                [selectedIndex]="concept.transactionType.id"
                [selectedItem]="concept.transactionType"
                [displayMemberPath]="'description'"
            ></wj-combo-box>
            <div *ngIf="!!concept.parent">{{ concept.parent.transactionType.description }}</div>
        </div>
    </div>
    <div class="px-2 flex-grow-1">
        <label><b>Modificable:</b></label>
        <div class="input-group input-group-sm">
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="modifiable"
                    [(ngModel)]="concept.modifiable"
                />
                <label class="form-check-label" for="modifiable"> Modificable </label>
            </div>
        </div>
    </div>
    <div class="px-2 flex-grow-1">
        <label><b>Asignable por el usuario:</b></label>
        <div class="input-group input-group-sm">
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="userAssignable"
                    [(ngModel)]="concept.userAssignable"
                    [disabled]="!concept.parent"
                />
                <label class="form-check-label" for="userAssignable"> Asignable por usuario </label>
            </div>
        </div>
    </div>
    <div class="px-2 flex-grow-1">
        <label><b>Status:</b></label>
        <div class="input-group input-group-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="status" [(ngModel)]="concept.enabled" />
                <label class="form-check-label" for="status"> Habilitado </label>
            </div>
        </div>
    </div>
    <div class="d-block">
        <!-- Agregado y descarte-->
        <button class="btn btn-block btn-sm btn-outline-success" [disabled]="!concept.description" (click)="create()">
            Guardar
        </button>
        <button class="btn btn-block btn-sm btn-outline-primary" (click)="cancel()">Descartar</button>
    </div>
</div>

<div *ngIf="!parent" class="mt-2">
    Este concepto será agregado en el primer nivel jerárquico. Deberán agregarse luego subconceptos hijos para este
    concepto.
</div>

<div *ngIf="parent" class="mt-2">
    Este subconcepto será agregado como hijo del concepto <b>{{ parent.description }}</b>
</div>
