<div *ngIf="showSiblingsGrid">
    <wj-flex-grid
        id="concepts-grid"
        [selectionMode]="editMode ? 'None' : 'Row'"
        [itemsSource]="conceptsCollection"
        [selectionMode]="'Row'"
        [headersVisibility]="'Column'"
        [autoGenerateColumns]="false"
        [allowResizing]="'Columns'"
        [showSelectedHeaders]="'Row'"
        [isReadOnly]="true"
        (itemsSourceChanged)="gridSelectionChange(conceptsCollection.currentItem)"
        (selectionChanged)="gridSelectionChange(conceptsCollection.currentItem)"
    >
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column
            *ngFor="let column of conceptsGridColumns"
            [width]="column.width"
            [binding]="column.binding"
            [header]="column.header"
            [visible]="true"
        >
            <ng-template
                *ngIf="column.binding === 'enabled'"
                wjFlexGridCellTemplate
                [cellType]="'Cell'"
                let-cell="cell"
            >
                {{ cell.item.enabled ? 'Habilitado' : 'Deshabilitado' }}
            </ng-template>
            <ng-template
                *ngIf="column.binding === 'modifiable'"
                wjFlexGridCellTemplate
                [cellType]="'Cell'"
                let-cell="cell"
            >
                {{ cell.item.modifiable ? 'Sí' : 'No' }}
            </ng-template>
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>

<div class="d-flex justify-content-between align-items-center">
    <app-cash-transaction-concept-info
        *ngIf="(!addMode && !editMode) || (editMode && selectedConcept.id !== concept.id)"
        class="w-100"
        [concept]="concept"
        [editMode]="editMode"
        [itemsSource]="itemsSource"
        [label]="label"
        [showSiblingsGrid]="showSiblingsGrid"
        (conceptChanged)="onSelectionChange($event)"
    ></app-cash-transaction-concept-info>
    <app-cash-transaction-concept-add *ngIf="addMode" [label]="label"></app-cash-transaction-concept-add>
    <app-cash-transaction-concept-update
        *ngIf="editMode && selectedConcept.id === concept.id"
        class="w-100"
        [canEditType]="false"
        [label]="label"
        [itemsSource]="itemsSource"
    >
    </app-cash-transaction-concept-update>
    <app-cash-transaction-concept-actions
        [concept]="concept"
        (dataChanged)="onDataChange($event)"
    ></app-cash-transaction-concept-actions>
</div>
