<div class="card">
    <div class="card-header">
        Editar Datos de Cliente
        <button
            type="submit"
            class="btn btn-sm btn-outline-success"
            (click)="update()"
            [disabled]="form.pristine || saved"
        >
            Actualizar
        </button>
        <button type="submit" class="btn btn-sm btn-outline-secondary ms-3" (click)="location.back()">Volver</button>
    </div>
    <div class="card-body">
        <app-customer-form
            *ngIf="customer"
            [formGroup]="form"
            [submitted]="submitted"
            [saved]="saved"
        ></app-customer-form>
    </div>
</div>
