<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>Gestión de Conceptos de Transacciones de Caja</div>
                <div>Mostrar deshabilitados</div>
            </div>
            <div id="cash-categories" class="card-body">
                <ng-container>
                    <div class="row">
                        <div class="col-3">
                            <div class="px-2">
                                <label><b>Concepto:</b></label>
                                <div class="input-group input-group-sm mb-2">
                                    <wj-combo-box
                                        class="form-control form-control-sm p-0"
                                        [(ngModel)]="cashCategoriesService.transactionParentConcept"
                                        [isEditable]="false"
                                        [isDisabled]="editMode"
                                        [isReadOnly]="cashCategoriesService.saved"
                                        [itemsSource]="cashCategoriesService.transactionConcepts"
                                        [selectedItem]="cashCategoriesService.transactionParentConcept"
                                        [displayMemberPath]="'description'"
                                    >
                                    </wj-combo-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <app-cash-transaction-concept-info
                                class="d-flex"
                                *ngIf="cashCategoriesService.transactionParentConcept"
                                [transactionConcept]="cashCategoriesService.transactionParentConcept"
                            ></app-cash-transaction-concept-info>
                        </div>
                        <div class="col-2">
                            <app-cash-transaction-concept-actions></app-cash-transaction-concept-actions>
                        </div>
                    </div>
                    <hr />
                </ng-container>
                <ng-container *ngIf="cashCategoriesService.transactionParentConcept.children.length > 0">
                    <div class="row">
                        <div class="col-3">
                            <div class="px-2">
                                <label><b>Subconcepto:</b></label>
                                <div class="input-group input-group-sm mb-2">
                                    <wj-combo-box
                                        class="form-control form-control-sm p-0"
                                        id="concept"
                                        name="concept"
                                        aria-describedby="concept"
                                        [(ngModel)]="cashCategoriesService.transactionConcept"
                                        [isEditable]="false"
                                        [isDisabled]="editMode"
                                        [isReadOnly]="cashCategoriesService.saved"
                                        [itemsSource]="cashCategoriesService.transactionParentConcept.children"
                                        [selectedItem]="cashCategoriesService.transactionConcept"
                                        [displayMemberPath]="'description'"
                                    >
                                    </wj-combo-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <app-cash-transaction-concept-info
                                class="d-flex"
                                *ngIf="cashCategoriesService.transactionConcept"
                                [transactionConcept]="cashCategoriesService.transactionConcept"
                            ></app-cash-transaction-concept-info>
                        </div>
                        <div class="col-2">
                            <app-cash-transaction-concept-actions></app-cash-transaction-concept-actions>
                        </div>
                    </div>
                    <hr />
                </ng-container>
            </div>
        </div>
    </div>
</div>
