<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Gestión de Categorías
            </div>
            <div id="cash-categories" class="card-body">
                <label><b>Concepto:</b></label>
                <div class="input-group input-group-sm mb-2">
                    <wj-combo-box
                        class="form-control form-control-sm p-0"
                        [(ngModel)]="cashFormHandlerService.transactionParentConcept"
                        [isEditable]="false"
                        [isReadOnly]="cashFormHandlerService.saved"
                        [itemsSource]="cashFormHandlerService.selectableTransactionConcepts"
                        [selectedItem]="cashFormHandlerService.transactionParentConcept"
                        [displayMemberPath]="'description'"
                    >
                    </wj-combo-box>
                </div>
                <label><b>Subconcepto:</b></label>
                <div class="input-group input-group-sm mb-2">
                    <wj-combo-box
                        class="form-control form-control-sm p-0"
                        id="concept"
                        name="concept"
                        aria-describedby="concept"
                        [isEditable]="false"
                        [isReadOnly]="cashFormHandlerService.saved"
                        [itemsSource]="cashFormHandlerService.transactionParentConcept.children"
                        [selectedItem]="cashFormHandlerService.cashTransaction.concept"
                        [displayMemberPath]="'description'"
                    >
                    </wj-combo-box>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-sm btn-outline-success">Agregar</button>
                <button class="ml-3 btn btn-sm btn-outline-primary">Editar</button>
                <button class="ml-3 btn btn-sm btn-outline-danger">Deshabilitar</button>
            </div>
            <div id="selected-category" class="card-body"></div>
        </div>
    </div>
</div>
