<div class="d-flex justify-content-between align-items-center">
    <ng-container *ngIf="!concept || itemsSource.length === 0">
        <label
            >El concepto de primera jerarquía no tiene subconceptos hijos. Pueden agregarse clickeando
            <b>"Agregar"</b> a la derecha.</label
        >
    </ng-container>
    <ng-container *ngIf="concept && itemsSource.length > 0">
        <div class="pe-2 flex-grow-1">
            <label
                ><b>{{ label }}:</b></label
            >
            <div class="input-group input-group-sm">
                <wj-combo-box
                    *ngIf="!showSiblingsGrid && !editMode && !addMode"
                    class="form-control form-control-sm p-0"
                    [(ngModel)]="concept"
                    [isEditable]="false"
                    [itemsSource]="itemsSource"
                    [selectedItem]="concept"
                    [displayMemberPath]="'description'"
                    (ngModelChange)="onSelectionChange($event)"
                >
                </wj-combo-box>
                <label *ngIf="showSiblingsGrid || editMode || addMode" class="mb-0">{{ concept.description }}</label>
            </div>
        </div>

        <div class="px-2 flex-grow-1">
            <label><b>ID:</b></label>
            <div class="input-group input-group-sm">
                <label class="mb-0">{{ concept.id }}</label>
            </div>
        </div>

        <div class="px-2 flex-grow-1">
            <label><b>Tipo:</b></label>
            <div class="input-group input-group-sm">
                <label class="mb-0">{{ concept.transactionType.description }}</label>
            </div>
        </div>
        <div class="px-2 flex-grow-1">
            <label><b>Modificable:</b></label>
            <div class="input-group input-group-sm">
                <label class="mb-0">{{ concept.modifiable ? 'Sí' : 'No' }}</label>
            </div>
        </div>
        <div class="px-2 flex-grow-1">
            <label><b>Asignable:</b></label>
            <div class="input-group input-group-sm">
                <label class="mb-0">{{ concept.userAssignable ? 'Sí' : 'No' }}</label>
            </div>
        </div>
        <div class="px-2 flex-grow-1">
            <label><b>Status:</b></label>
            <div class="input-group input-group-sm">
                <label class="mb-0">{{ concept.enabled ? 'Habilitado' : 'Deshabilitado' }}</label>
            </div>
        </div>
    </ng-container>

    <div *ngIf="!addMode && !editMode" class="d-block">
        <!-- Agregado de nuevas -->
        <button class="btn btn-block btn-sm btn-outline-success" (click)="enableAddMode()">Agregar</button>

        <ng-container *ngIf="concept && itemsSource.length > 0 && concept?.modifiable">
            <button class="btn btn-block btn-sm btn-outline-primary" (click)="enableEditMode()">Editar</button>

            <!-- Habilitar/Deshabilitar -->
            <!-- TODO: Enable the trigger status feature -->
            <button
                *ngIf="concept.modifiable"
                [ngClass]="{ 'btn-outline-danger': concept.enabled, 'btn-outline-info': !concept.enabled }"
                class="btn btn-block btn-sm"
                (click)="toggleStatus()"
            >
                {{ concept.enabled ? 'Deshabilitar' : 'Habilitar' }}
            </button>
        </ng-container>
    </div>
</div>
