.file-uploader-cargador
{
    width: 100px;
}
.qq-uploader
{
    padding: 0 0 30px 0;
    width: 100%;
}
.qq-upload-list
{
    display: none;
}
.qq-upload-drop-area
{
    border: dotted 4px #c4c4c4;
    color: #000;
    background: #f1f1f1;
    display: block;
    font-size: 26px;
    float: left;
    height: 100px;
    line-height: 20px;
    margin: 0 auto 20px auto;
    opacity: 0.5;
    padding: 35px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.ul-imagenes
{
    border-bottom: solid 1px #d9d9d9;
    float: left;
    margin: 0 0 30px 30px;
    overflow: hidden;
    padding: 0 0 10px 10px;    
    width: 90%;
    z-index: 100;
}
.ul-imagenes li
{
    border: dotted 1px #c4c4c4;
    float: left;
    min-height: 170px;
    margin: 10px 10px 0 0;
    overflow: visible;
    padding: 5px;
    position: relative;
    list-style: none;
    width: 110px;
}
.ul-imagenes li.no_mover
{
    border: none;
    height: 10px;
    display: none;
    min-height: 40px;
    overflow: visible;
    width: 100%;
}
.ul-imagenes li:hover
{
    border: solid 1px #c4c4c4;
}
.ul-imagenes li a.borrar,
.ul-imagenes li a.editar,
.ul-imagenes li a.cortar
{
    padding: 5px 10px 5px 10px;
    position: absolute;
    visibility: hidden;
}
.ul-imagenes li a.borrar span,
.ul-imagenes li a.editar span,
.ul-imagenes li a.cortar span
{
    display: none;
}
.ul-imagenes li a.borrar
{
    background: #ff0000;
    left: 7px;
    top: 10px;
}
.ul-imagenes li a.borrar:hover
{
    background: #aa0000;
}
.ul-imagenes li a.editar
{
    left: 7px;
    top: 10px;
}
.ul-imagenes li a.editar:hover
{
    
}
.ul-imagenes li a.cortar
{
    background: #0060f1 !important;
    left: 40px;
    top: 10px;
    
}
.ul-imagenes li a.cortar:hover
{
    background: #00398f !important;
}
.ul-imagenes li.cargadorTemporal,
.ul-imagenes li .divCargadorTemporal
{
    background: #f3f3f3 url('/imagenes/panel/ajax2.gif') center center no-repeat;
}
.ul-imagenes li .divCargadorTemporal
{
    height: 150px;
    display: none;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 108px;
}
.ul-imagenes li .campo-editar-texto-imagen
{
    border: solid 1px #c4c4c4;
    color: #000;
    font-family: 'Tahoma';
    font-size: 12px;
    float: left;
    margin: 5px 0 0 0;
    opacity: 0.6;
    padding: 6px;
    resize: none;
    width: 98px;
}
.boton-qq-cargar-imagenes
{
    float: left;
    margin: 0 0 40px 0;
}