.mensaje-error,
.mensaje-ok
{
    display: none;
}
.preloader
{
    display: none;
}
.login-content h1
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
.boton-volver-panel
{
    color: #fff;
    font-size: 14px;
}
.boton-volver-panel:hover
{
    color: #fff;
}
.login-content
{
    background: #0f1f40;
}
#loginPanel .btn-float,
#recuperarClave .boton-recuperar
{
    background: #355492;
}
.input-group-addon i.fa
{
    color: #3d5d80;
}