<div class="row w-100">
    <div *ngIf="showDescriptionLabel || editMode" class="col-6">
        <label><b>Descripción:</b></label>
        <div class="input-group input-group-sm">
            <input
                *ngIf="editMode.value && editMode.concept.id === transactionConcept.id"
                class="form-control"
                [(ngModel)]="transactionConcept.description"
            />
            <label *ngIf="!editMode.value || editMode.concept.id !== transactionConcept.id">{{
                transactionConcept.description
            }}</label>
        </div>
    </div>
    <div class="col-4">
        <label><b>Tipo de Transacción:</b></label>
        <div class="input-group input-group-sm">
            <label *ngIf="!canEditType || !editMode.value || editMode.concept.id !== transactionConcept.id">{{
                transactionConcept.transactionType.description
            }}</label>
            <wj-combo-box
                *ngIf="canEditType && editMode.value && editMode.concept.id === transactionConcept.id"
                class="form-control form-control-sm p-0"
                [(ngModel)]="transactionConcept.transactionType"
                [isEditable]="false"
                [itemsSource]="cashCategoriesService.transactionTypes"
                [selectedIndex]="transactionConcept.transactionType.id"
                [selectedItem]="transactionConcept.transactionType"
                [displayMemberPath]="'description'"
            ></wj-combo-box>
        </div>
    </div>
    <div class="col-2">
        <label><b>Status:</b></label>
        <div class="input-group input-group-sm">
            <label>{{ '' }}</label>
        </div>
    </div>
</div>
