#client-grid-container {
  height: 600px;
}

#repair-grid-container,  #repair-loading-alert{
  height: 278px;
}

.footer-controls {
  height: 34px;
}

.alert h3 {
  margin-top: 15rem !important;
}

.wj-flexgrid {
  font-size: 0.75rem;
}

.card-body {
  height: 768px;
}
