<div class="card">
    <div class="card-header d-flex justify-content-between">
        Editar Datos de Cliente
        <div>
            <button type="submit" class="btn btn-sm btn-primary" (click)="update()" [disabled]="form.pristine || saved">
                💾 Actualizar
            </button>
            <button type="submit" class="btn btn-sm btn-outline-secondary ms-3" (click)="location.back()">
                ⬅️ Volver
            </button>
        </div>
    </div>
    <div class="card-body">
        @if (customer) {
        <app-customer-form [formGroup]="form" [submitted]="submitted" [saved]="saved"></app-customer-form>
        }
    </div>
</div>
