#grid-container {
    height: 600px;
}

.alert h3 {
    margin-top: 15rem !important;
}

.card-body {
    height: 768px;
    .card-body {
        height: unset;
    }
}

#footerControls {
    height: 34px;
}
