#cash-transaction-grid {
    height: 768px;

    .wj-flexgrid {
        //height: 726px;
        font-size: 0.75rem;
        .wj-colfooters {
            .wj-cell {
                padding: 0 !important;
            }
        }
    }
}
