@media (min-width: 768px) {
    .form-group-nombre,
    .form-group-telefono {
        float: left;
        width: 50%;
    }
}

.contact-form-box h2 {
    font-size: 20px;
}

.h2-como-llegar {
    font-weight: 300;
    font-size: 22px;
    margin: 40px 0 0 20px;
}

.mapa-google {
    float: left;
    border: solid 1px #c4c4c4;
    margin: 0 20px 0 20px;
    width: 100%;
}
#map_canvas {
    height: 400px;
    width: 100%;
}
