<section class="w-100">
    <img class="w-100" src="./assets/imagenes/tema/slides/contacto.jpg" alt="" />
</section>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <p class="lead">
                Para ponerte en contacto, por favor, completá el formulario que se encuentra debajo.<br />Nos
                comunicaremos a la brevedad.
            </p>
        </div>
    </div>
    <div class="gap gap-small"></div>
    <div class="row" data-gutter="60">
        <div class="col-md-8">
            <div class="contact-form-box">
                <form name="consulta-contacto" id="consulta-contacto" data-prefijo="" novalidate>
                    <input type="hidden" name="registro" id="registro" value="0" />
                    <fieldset>
                        <div class="row">
                            <div class="form-group form-group-nombre col-sm-12 control-group">
                                <label for="name">Nombre:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder=""
                                    id="nombre"
                                    name="nombre"
                                    required
                                    data-validation-required-message="Es obligatorio ingresar el nombre"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group form-group-telefono col-sm-12 control-group">
                                <label for="phone">Teléfono:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder=""
                                    id="telefono"
                                    name="telefono"
                                    required
                                    data-validation-required-message="Es oligatorio ingresar el teléfono"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-group-correo col-sm-12 control-group">
                                <label for="email">Correo:</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    id="correo"
                                    name="correo"
                                    placeholder=""
                                    required
                                    data-validation-required-message="Es obligatorio ingresar el correo"
                                    data-validation-email-message="El correo ingresado no es válido"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 control-group">
                                <label for="message">Mensaje:</label>
                                <textarea
                                    class="form-control"
                                    placeholder=""
                                    id="mensaje"
                                    name="mensaje"
                                    required
                                    data-validation-required-message="Es obligatorio ingresar el mensaje"
                                ></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 control-group">
                                <button
                                    type="submit"
                                    id="send"
                                    class="btn btn-primary btn-sm button consulta-contacto-boton-enviar"
                                >
                                    <fa-icon [icon]="faCheck"></fa-icon> Enviar
                                </button>
                                <br /><br />
                                <div class="consulta-contacto-enviando" style="display: none">
                                    <i class="fa fa-spinner fa-spin"></i> Enviando mensaje
                                </div>
                                <div class="alert alert-success consulta-contacto-exito" style="display: none">
                                    Mensaje enviado con éxito
                                </div>
                                <div class="alert alert-danger consulta-contacto-error" style="display: none">
                                    El mensaje no pudo ser enviado, por favor, intentalo nuevamente
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!--div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <h3 class="widget-title">brillante</h3>
                <ul class="contact-list">
                    <li>
                        <h5>Correo</h5><a href="#">info@brillantestore.com</a>
                    </li>
                    <li>
                        <h5>Teléfono</h5>
                        <p>+54 342 536 0966</p>
                    </li>
                    <li>
                        <h5>Dirección</h5><address>25 de Mayo 3567<br />2000, Rosario, Santa Fe</address>
                    </li>
                </ul>
            </div>
        </div>
    </div-->

        <!--div class="form-group col-md-12">
        <a name="verMapa"></a>
        <div class="page-title">
            <h2 class="h2-como-llegar">Cómo llegar a brillante?</h2>
        </div>
        <form name="formulario-ver-ruta" id="formulario-ver-ruta" method="post" action="#verMapa" novalidate>
            <div class="form-group col-sm-12 control-group">
                <input type="text" class="form-control " placeholder="Ingrese su dirección, localidad y provincia" id="localidad" name="localidad" novalidate>
                <p class="help-block text-danger"></p>
                <br />
                <input type="submit" value="Ver Ruta" name="boton-enviar" class="btn btn-success btn-sm boton-enviar-ruta"/>
            </div>
        </form>

        <div class="mapa mapa-google">

            <script type="text/javascript">
                /* <![CDATA[ */
                var marcadores1 = new Array();
                var objetosMarcadores1 = new Array();

                function initialize(origen,marcadores) {
                    var center = new google.maps.LatLng(-32.926567,-60.678854);

                    var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});

                    var map = new google.maps.Map(document.getElementById('map_canvas'), {
                        center: center,
                        zoom: 16,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    directionsDisplay.setMap(map);

                    var polyline = new google.maps.Polyline({
                        path: [],
                        strokeColor: '#0000FF',
                        strokeWeight: 3
                    });

                    var bounds = new google.maps.LatLngBounds();

                    var directionsService = new google.maps.DirectionsService();

                    var request = {
                        origin: origen,
                        destination: new google.maps.LatLng(-32.926567,-60.678854),
                        travelMode: google.maps.DirectionsTravelMode.DRIVING,
                        provideRouteAlternatives: true
                    };


                    for (contador=0; contador < marcadores.length; contador++){
                        var latitudLongitud = new google.maps.LatLng(marcadores[contador][0] , marcadores[contador][1]);
                        agregarMarcador(latitudLongitud, map, marcadores[contador][2], marcadores[contador][3], marcadores[contador][4]);
                    }


                    directionsService.route(request, function(result, status) {
                        if (status == google.maps.DirectionsStatus.OK) {

                            path = result.routes[0].overview_path;

                            $(path).each(function(index, item) {
                                polyline.getPath().push(item);
                                bounds.extend(item);
                            });

                            directionsDisplay.setDirections(result);

                            var elementoCuadroRutas = jQuery('#cuadroRutas');
                            directionsDisplay.setPanel(elementoCuadroRutas.get(0));
                            elementoCuadroRutas.show();
                            elementoCuadroRutas.css('z-index','1500');

                            polyline.setMap(map);
                            map.fitBounds(bounds);
                        }
                    });
                }


                function agregarMarcador(latitudLongitud, mapa, titulo, contenido, icono){

                    var opcionesMarcador = {
                        position: latitudLongitud,
                        map: mapa,
                        title: titulo

                        //draggable: true
                    };
                    if(icono!=''){
                        opcionesMarcador.icon = icono;
                    }
                    var marcador = new google.maps.Marker(opcionesMarcador);
                    objetosMarcadores1.push(marcador);

                    if(contenido != ''){
                        var infoWindow = new google.maps.InfoWindow({
                            content: contenido
                        });
                        google.maps.event.addListener(marcador, 'click', function() {

                            infoWindow.open(mapa,marcador);
                        });
                    }

                    /*google.maps.event.addListener(marcador, 'dragend', function() {
                            alert(marcador.position);
                    });*/
                }
            /* ]]> */
            </script>

            <div id="map_canvas" class="lienzoMapa" >&nbsp;</div>

            <script type="text/javascript">
            /* <![CDATA[ */
                jQuery(document).ready(function(){

                    marcadores1[0] = new Array(-32.926567,-60.678854, 'brillante', 'Junín 1094, Rosario, Santa Fe', '/imagenes/iconos/brillante.png');

                    initialize("",marcadores1);

                });
            /* ]]> */
            </script>

            <div id="cuadroRutas"></div>
        </div>
    </div-->
    </div>
</div>
<div class="gap gap-small"></div>
