<form [formGroup]="cashFormHandlerService.formGroup" (ngSubmit)="update()">
    <div class="card">
        <div class="card-header d-flex justify-content-around">
            <button class="btn btn-sm btn-outline-success mr-3" type="submit">💵 Guardar</button>
            <button class="btn btn-sm btn-outline-secondary mr-3" type="button" (click)="back()">⬅️ Volver</button>
        </div>
        <div id="cash-transaction-update" class="card-body">
            <div class="w-100 alert alert-info text-center p-2">Editar Transacción</div>
            <div class="row">
                <div class="col-12">
                    <label><b>ID:</b></label>
                    <div class="input-group input-group-sm">
                        <label>{{ cashFormHandlerService.cashTransaction.id }}</label>
                    </div>
                    <label><b>Concepto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <ng-container
                            *ngIf="
                                !cashFormHandlerService.cashTransaction.concept.parent.userAssignable ||
                                !cashFormHandlerService.cashTransaction.concept.userAssignable
                            "
                        >
                            <label>{{ cashFormHandlerService.cashTransaction.concept.parent.description }}</label>
                        </ng-container>

                        <wj-combo-box
                            *ngIf="
                                cashFormHandlerService.cashTransaction.concept.parent.userAssignable &&
                                cashFormHandlerService.cashTransaction.concept.userAssignable
                            "
                            class="form-control form-control-sm p-0"
                            [(ngModel)]="cashFormHandlerService.transactionParentConcept"
                            [ngModelOptions]="{ standalone: true }"
                            [isEditable]="false"
                            [isReadOnly]="cashFormHandlerService.saved"
                            [itemsSource]="moneyTransactionConceptsService.selectableTransactionConcepts"
                            [selectedItem]="cashFormHandlerService.transactionParentConcept"
                            [displayMemberPath]="'description'"
                        >
                        </wj-combo-box>
                    </div>
                    <label><b>Subconcepto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <ng-container *ngIf="!cashFormHandlerService.cashTransaction.concept.userAssignable">
                            <label>{{ cashFormHandlerService.cashTransaction.concept.description }}</label>
                        </ng-container>

                        <wj-combo-box
                            *ngIf="cashFormHandlerService.cashTransaction.concept.userAssignable"
                            class="form-control form-control-sm p-0"
                            id="concept"
                            name="concept"
                            aria-describedby="concept"
                            formControlName="concept"
                            [isEditable]="false"
                            [isReadOnly]="cashFormHandlerService.saved"
                            [itemsSource]="cashFormHandlerService.transactionParentConcept.children"
                            [selectedItem]="cashFormHandlerService.cashTransaction.concept"
                            [displayMemberPath]="'description'"
                        >
                        </wj-combo-box>
                    </div>
                    <label><b>Tipo de Transacción:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <span
                            *ngIf="cashFormHandlerService.transactionParentConcept.transactionType"
                            class="badge p-2 w-100"
                            [ngClass]="{
                                'badge-danger':
                                    cashFormHandlerService.transactionParentConcept.transactionType.id === 0,
                                'badge-success':
                                    cashFormHandlerService.transactionParentConcept.transactionType.id === 1
                            }"
                        >
                            {{
                                cashFormHandlerService.transactionParentConcept.transactionType.id === 1
                                    ? '💰 Ingreso'
                                    : '💸 Egreso'
                            }}
                        </span>
                        <!-- TODO: Think about filtering the concept list depending on the transaction type also -->
                    </div>
                    <label><b>Monto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" aria-describedby="amount" formControlName="amount" type="number" />
                    </div>

                    <app-payment-method-selector
                        id="paymentMethod"
                        name="paymentMethod"
                        aria-describedby="paymentMethod"
                        formControlName="paymentMethod"
                        [isReadOnly]="cashFormHandlerService.saved"
                    ></app-payment-method-selector>

                    <label><b>Fecha y Hora:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <wj-input-date-time
                            class="form-control p-0"
                            aria-describedby="dateTime"
                            [required]="true"
                            [(ngModel)]="dateTime"
                            [ngModelOptions]="{ standalone: true }"
                        ></wj-input-date-time>
                    </div>
                    <label><b>Nota:</b></label>
                    <div class="form-group pb-0 mb-0">
                        <textarea class="h-100 form-control" rows="4" aria-describedby="note" formControlName="note">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
