<div class="h-100 d-flex flex-column justify-content-center">
    <!-- Agregado de nuevas -->
    <button
        *ngIf="((concept.parent && concept.parent.userAssignable) || !concept.parent) && !editMode.value"
        class="btn btn-block btn-sm btn-outline-success"
        (click)="toggleAddMode(true)"
    >
        Agregar
    </button>

    <!-- Edición y descarte-->
    <ng-container *ngIf="editMode.value && editMode.concept.id === concept.id">
        <button class="btn btn-block btn-sm btn-outline-success" (click)="save()">Guardar</button>
        <button class="btn btn-block btn-sm btn-outline-primary" (click)="toggleEditMode(false, null)">
            Descartar
        </button>
    </ng-container>

    <ng-container *ngIf="concept.modifiable">
        <button
            *ngIf="!editMode.value && !editMode.concept"
            class="btn btn-block btn-sm btn-outline-primary"
            (click)="toggleEditMode(true, concept)"
        >
            Editar
        </button>

        <!-- Habilitar/Deshabilitar -->
        <!-- TODO: Enable the trigger status feature -->
        <button
            *ngIf="concept.modifiable && !editMode.value"
            [ngClass]="{ 'btn-outline-danger': concept.enabled, 'btn-outline-info': !concept.enabled }"
            class="btn btn-block btn-sm"
            (click)="toggleStatus()"
        >
            {{ concept.enabled ? 'Deshabilitar' : 'Habilitar' }}
        </button>
    </ng-container>
</div>
