<div class="h-100 d-flex flex-column justify-content-center">
    <ng-container *ngIf="concept.modifiable">
        <button
            *ngIf="!editMode.value && !editMode.concept"
            class="btn btn-block btn-sm btn-outline-primary"
            (click)="toggleEditMode(true, concept)"
        >
            Editar
        </button>

        <!-- Habilitar/Deshabilitar -->
        <!-- TODO: Enable the trigger status feature -->
        <button
            *ngIf="concept.modifiable && !editMode.value"
            [ngClass]="{ 'btn-outline-danger': concept.enabled, 'btn-outline-info': !concept.enabled }"
            class="btn btn-block btn-sm"
            (click)="toggleStatus()"
        >
            {{ concept.enabled ? 'Deshabilitar' : 'Habilitar' }}
        </button>
    </ng-container>
</div>
