@import '../../../../node_modules/bootstrap/scss/bootstrap';

.form-check-input {
    position: absolute;
    margin-top: 0.45rem;
    @extend .ml-1;
}

#grid-container {
    height: 600px;
}

.alert h3 {
    margin-top: 15rem !important;
}

.wj-flexgrid {
    font-size: 0.75rem;
}

.card-body {
    height: 768px;
    .card-body {
        height: unset;
    }
}

#footerControls {
    height: 34px;
}
