<section id="main-header" class="container-fluid">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light brand-navbar">
        <div class="brand-container">
            <button class="d-sm-none" type="button" id="MainMenu_OpenBtn">
                <fa-icon [icon]="barsIcon"></fa-icon>
            </button>
            <a class="navbar-brand" href="">
                <img src="/assets/imagenes/tema/logo_brillante.png" alt="image" />
            </a>
        </div>

        <!-- TODO: #200 - Add responsive solution for nav visualization -->
        <div id="nav-container" class="flex-grow-1 d-none d-md-block">
            <ul class="nav d-flex d-flex flex-column flex-sm-row justify-content-left">
                <ng-container *ngFor="let route of userLinks">
                    <li class="nav-item" *ngIf="route.visible">
                        <a
                            class="nav-link"
                            [ngClass]="{ disabled: !route.enabled, active: route.enabled }"
                            [routerLink]="route.route"
                            >{{ route.label }}</a
                        >
                    </li>
                </ng-container>
            </ul>
        </div>

        <ng-container *ngIf="currentUser">
            <button type="button" class="btn btn-outline-secondary rounded-0 mr-4">
                <span
                    >Usuario actual:
                    <strong>{{ welcomeName }}</strong>
                    | Sucursal asignada:
                    <strong>{{
                        officeBranchService.current.value ? officeBranchService.current.value.name : 'Ninguna'
                    }}</strong>
                </span>
            </button>
        </ng-container>

        <ul class="nav justify-content-end align-items-center nav-sup">
            <ng-container *ngIf="!currentUser">
                <li>
                    <a
                        routerLink="/login"
                        data-effect="mfp-move-from-top"
                        class="btn btn-sm btn-light d-none d-sm-block popup-text"
                        >INGRESAR</a
                    >
                </li>
                <li>
                    <a
                        href="#nav-account-dialog"
                        data-effect="mfp-move-from-top"
                        class="btn btn-sm btn-light d-none d-sm-block popup-text"
                        >REGISTRATE</a
                    >
                </li>
            </ng-container>
            <ng-container *ngIf="currentUser">
                <li>
                    <a
                        (click)="logout()"
                        data-effect="mfp-move-from-top"
                        class="btn btn-sm btn-light d-none d-sm-block popup-text"
                        >CERRAR SESIÓN</a
                    >
                </li>

                <li>
                    <a
                        href="#nav-login-dialog"
                        data-effect="mfp-move-from-top"
                        class="btn btn-default d-sm-none popup-text"
                        ><i class="far fa-user"></i
                    ></a>
                </li>

                <li>
                    <a [routerLink]="'products/cart'" class="btn btn-default"><fa-icon [icon]="cartIcon"></fa-icon></a>
                </li>
            </ng-container>
        </ul>
    </nav>
</section>
