<section id="main-header" class="container-fluid p-md-0">
    <nav class="navbar navbar-expand-lg justify-content-between align-content-center navbar-light brand-navbar">
        <div class="brand-container">
            <div id="nav-container-dropdown" class="dropdown d-block">
                <button
                    id="burger-menu"
                    class="dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    (click)="onToggleSidebar()"
                >
                    <fa-icon *ngIf="!sidebarOpen" [icon]="barsIcon"></fa-icon>
                    <fa-icon *ngIf="sidebarOpen" [icon]="closeIcon"></fa-icon>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <ng-container *ngFor="let route of userLinks">
                        <a class="dropdown-item" *ngIf="route.visible" [routerLink]="route.route">{{ route.text }}</a>
                    </ng-container>
                </div>
            </div>
            <a class="navbar-brand" href="">
                <img src="/assets/imagenes/tema/logo_brillante.png" alt="image" />
            </a>
        </div>

        <ng-container [ngTemplateOutlet]="navTemplate"></ng-container>

        <ul class="nav justify-content-end align-items-center nav-sup">
            <ng-container *ngIf="currentUser$ | async as currentUser">
                <li *ngIf="currentUser">
                    <a (click)="logout()" class="btn btn-sm btn-light d-none d-sm-block popup-text">CERRAR SESIÓN</a>
                </li>

                <li>
                    <a *ngIf="showCart" [routerLink]="'products/cart'" class="btn btn-default ml-2"
                        ><fa-icon [icon]="cartIcon"></fa-icon
                    ></a>
                </li>
            </ng-container>
            <li class="pl-3">
                <a [routerLink]="'login'" class="btn btn-default"><fa-icon [icon]="userIcon"></fa-icon></a>
            </li>
        </ul>
    </nav>
</section>

<ng-template #navTemplate>
    <!-- TODO: #200 - Add responsive solution for nav visualization -->
    <div id="nav-container" class="flex-grow-1 d-none d-xl-block">
        <ul class="nav d-flex d-flex flex-column flex-sm-row justify-content-around">
            <ng-container *ngFor="let route of userLinks">
                <li class="nav-item" *ngIf="route.visible">
                    <a
                        class="nav-link px-2 px-xxl-3"
                        [ngClass]="{ disabled: !route.enabled, active: route.enabled }"
                        [routerLink]="route.route"
                        >{{ route.text }}</a
                    >
                </li>
            </ng-container>
        </ul>
    </div>
</ng-template>
