@import 'src/assets/scss/bootstrap-theming';

#navigation-menu {
    .nav-item {
        font-family: 'Barlow', sans-serif;
        .nav-link {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#main-header {
    width: 100%;
    z-index: 1040;
    background: #fff;
    .nav-link {
        color: #6c6c6c;
    }
    .brand-navbar {
        background: #fff;
        z-index: 2002;
        height: 100%;
    }
    a.whatsapp {
        color: #999;
        line-height: 1;
        display: flex;
        align-items: center;
        span {
            display: none;
        }
        i {
            font-weight: 600;
            margin-right: 6px;
            font-size: 24px;
        }
        b {
            font-weight: 600;
        }
    }
    .nav-sup {
        padding-top: 3px;
        .btn-light {
            color: #6c6c6c;
            margin-right: 10px;
            font-size: 12px;
            font-weight: 700;
        }
        i {
            font-size: 25px;
        }
        li a {
            padding: 7px 2px;
        }
    }
}

@include media-breakpoint-down(xs) {
    #main-header {
        height: 48px;
        > .navbar {
            padding: 25px 0 20px;
        }
        .brand-navbar {
            padding: 0.5rem;
        }
    }
    #main-header .brand-navbar .brand-container a.navbar-brand {
        //width: 135px;
    }
}
@include media-breakpoint-up(sm) {
    #main-header {
        height: 64px;
    }
}

@media (min-width: 768px) {
    #main-header a.whatsapp span {
        display: inline;
    }
}
