<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5>Configuración: Sucursales</h5>
        <div>
            <button class="btn btn-sm btn-outline-secondary me-3" (click)="goToSelect($event)">
                🏢 Asignar Sucursal
            </button>
            <button class="btn btn-sm btn-outline-primary" (click)="goToAdd($event)">➕ Agregar Nueva</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h6>Lista de Sucursales</h6>
                @if (officeBranches$ | async; as officeBranches) {
                <ejs-grid [dataSource]="officeBranches" [selectionSettings]="{ mode: 'Row' }">
                    <e-columns>
                        <e-column field="id" headerText="ID" width="80"></e-column>
                        <e-column field="name" headerText="Nombre"></e-column>
                        <e-column field="address" headerText="Dirección"></e-column>
                    </e-columns>
                </ejs-grid>
                }
            </div>
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
