#customer-data {
    p {
        margin-bottom: 0.25rem;
    }
}

#device-data,
#repair-data {
    #status {
        min-width: 200px;
    }
    p {
        margin: 0;
    }
}

#repair-history {
    width: 100%;
    .card .card-body {
        height: unset;
    }
}

#repair-history-grid {
    max-height: 130px;
}

#repair-data {
    .card-body {
        height: 450px;
    }
    #issue-description {
        height: 300px;
        width: 540px;
        text-align: justify;
        overflow-x: auto;
      textarea{
        height: calc(100% - 24px);
      }
    }
}
#warranty-input-group {
    min-width: 125px;
}

//FIXME: Generalize for use through all my applications
wj-combo-box.wj-state-readonly {
    background-color: #e9ecef !important;
}
