#customer-data {
    p {
        margin-bottom: 0.25rem;
    }
}

#device-data,
#repair-data {
    p {
        margin: 0;
    }
}

#repair-history {
    width: 100%;
    .card .card-body {
        height: unset;
    }
}

#repair-history-grid {
    max-height: 260px;
}

#repair-data {
    .card-body {
        height: 450px;
    }
    #issue-description {
        height: 150px;
        width: 540px;
        text-align: justify;
        overflow-x: auto;
    }
}
