<div class="row">
    <div class="col-3 d-flex align-items-center">
        <div class="px-2 flex-grow-1">
            <label
                ><b>{{ label }}</b></label
            >
            <div class="input-group input-group-sm mb-2">
                <wj-combo-box
                    class="form-control form-control-sm p-0"
                    [(ngModel)]="concept"
                    [isEditable]="false"
                    [isDisabled]="editMode"
                    [isReadOnly]="editMode"
                    [itemsSource]="itemsSource"
                    [selectedItem]="concept"
                    [displayMemberPath]="'description'"
                    (ngModelChange)="onSelectionChange($event)"
                >
                </wj-combo-box>
            </div>
        </div>
    </div>
    <div class="col-8 d-flex align-items-center">
        <app-cash-transaction-concept-info
            *ngIf="concept && concept.id"
            class="w-100"
            [transactionConcept]="concept"
        ></app-cash-transaction-concept-info>
    </div>
    <div class="col-1 d-flex justify-content-end">
        <app-cash-transaction-concept-actions></app-cash-transaction-concept-actions>
    </div>
</div>
