<div id="header-container">
    <app-progress-loader [marginTop]="0" [zIndex]="2003"></app-progress-loader>
    <app-main-header
        *ngIf="(isDesktop && !isInternalUser) || !isDesktop"
        [showToggler]="!isDesktop"
        [sidebarOpen]="sidebarOpen"
        (toggleSidebar)="onToggleSidebar($event)"
    ></app-main-header>
</div>
<div id="main-container" class="w-100">
    <div class="container">
        <ejs-sidebar
            id="default-sidebar"
            *ngIf="!isDesktop || isInternalUser"
            [ngClass]="{ 'add-header-margin': !isDesktop || !isInternalUser }"
            [closeOnDocumentClick]="false"
            [enableGestures]="!isDesktop"
            #sidebar
            (created)="onCreated()"
            [isOpen]="isDesktop && isInternalUser"
            [type]="'Auto'"
            [width]="'240px'"
        >
            <div class="p-3">
                <!-- TODO: Dock the sidebar and show only icons -->
                <app-brand-container *ngIf="isDesktop && isInternalUser" [showToggler]="false"></app-brand-container>
                <app-left-sidebar (hide)="hideSidebar()" (logout)="onLogout($event)"></app-left-sidebar>
            </div>
        </ejs-sidebar>
        <div
            id="outlet-container"
            class="py-3 d-flex justify-content-center align-items-center"
            [ngClass]="{ 'add-header-margin': (isDesktop && !isInternalUser) || !isDesktop }"
        >
            <div id="inner-container" class="d-block w-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
