@import 'src/assets/scss/bootstrap-theming';

html,
body {
    width: 100%;
    height: 100%;
}

#header-container {
    width: 100%;
    position: fixed;
    left: 0;
    justify-content: space-between;
    z-index: 3;
}

#main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $background-color;
}

#outlet-container {
    height: 100vh;
    &.add-header-margin {
        @include media-breakpoint-down(xs) {
            height: calc(100vh - 48px);
            margin-top: 48px;
        }
        @include media-breakpoint-up(sm) {
            height: calc(100vh - 64px);
            margin-top: 64px;
        }
    }

    flex-grow: 1;
}

#header-container,
#outlet-container,
#footer-container {
    flex-shrink: 0;
}

#default-sidebar {
    &.add-header-margin {
        @include media-breakpoint-down(xs) {
            margin-top: 48px;
        }
        @include media-breakpoint-up(sm) {
            margin-top: 64px;
        }
    }

    .e-list-wrapper {
        padding-left: 0;
    }
    box-shadow: none;
}
