<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>Gestión de Conceptos de Transacciones de Caja</div>
            </div>
            <div id="cash-categories" class="card-body">
                <app-cash-transaction-concept-input-group
                    [canEditType]="false"
                    [label]="'Concepto'"
                    [itemsSource]="moneyTransactionConceptsService.modifiableTransactionConcepts"
                    [concept]="moneyTransactionConceptsService.transactionParentConcept"
                    (selectedConceptChanged)="changeParentConcept($event)"
                    (conceptCreated)="onCreateParentConcept($event)"
                    (conceptEdited)="onUpdateParentConcept($event)"
                ></app-cash-transaction-concept-input-group>
                <hr />

                <app-cash-transaction-concept-input-group
                    [canEditType]="false"
                    [label]="'Subconcepto'"
                    [itemsSource]="moneyTransactionConceptsService.transactionParentConcept.children"
                    [concept]="moneyTransactionConceptsService.transactionConcept"
                    [parent]="moneyTransactionConceptsService.transactionParentConcept"
                    [showSiblingsGrid]="true"
                    (selectedConceptChanged)="changeSelectedConcept($event)"
                    (conceptCreated)="onCreateConcept($event)"
                    (conceptEdited)="onUpdateConcept($event)"
                ></app-cash-transaction-concept-input-group>
                <hr />
            </div>
        </div>
    </div>
</div>
