<form [formGroup]="cashFormHandlerService.formGroup" (ngSubmit)="create()">
    <div class="card">
        <div class="card-header d-flex justify-content-around">
            <button class="btn btn-sm btn-outline-success mr-3" type="submit">💵 Guardar</button>
            <button class="btn btn-sm btn-outline-secondary mr-3" type="button" (click)="back()">⬅️ Volver</button>
        </div>
        <div id="cash-transaction-new" class="card-body">
            <div class="w-100 alert alert-success text-center p-2">Crear Transacción</div>
            <div class="row">
                <div class="col-12">
                    <label><b>Concepto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <wj-combo-box
                            class="form-control form-control-sm p-0"
                            [(ngModel)]="cashFormHandlerService.transactionParentConcept"
                            [ngModelOptions]="{ standalone: true }"
                            [isEditable]="false"
                            [isReadOnly]="cashFormHandlerService.saved"
                            [itemsSource]="cashCategoriesService.selectableTransactionConcepts"
                            [selectedItem]="cashFormHandlerService.transactionParentConcept"
                            [displayMemberPath]="'description'"
                        >
                        </wj-combo-box>
                    </div>
                    <label><b>Subconcepto:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <wj-combo-box
                            class="form-control form-control-sm p-0"
                            id="concept"
                            name="concept"
                            aria-describedby="concept"
                            formControlName="concept"
                            [isEditable]="false"
                            [isReadOnly]="cashFormHandlerService.saved"
                            [itemsSource]="cashFormHandlerService.transactionParentConcept.children"
                            [selectedItem]="cashFormHandlerService.cashTransaction.concept"
                            [selectedIndex]="cashFormHandlerService.cashTransaction.concept.id"
                            [displayMemberPath]="'description'"
                        >
                        </wj-combo-box>
                    </div>
                    <label><b>Tipo de Transacción:</b></label>
                    <div class="input-group input-group-sm mb-2">
                        <span
                            *ngIf="cashFormHandlerService.transactionParentConcept.transactionType"
                            class="badge p-2 w-100"
                            [ngClass]="{
                                'badge-danger':
                                    cashFormHandlerService.transactionParentConcept.transactionType.id === 0,
                                'badge-success':
                                    cashFormHandlerService.transactionParentConcept.transactionType.id === 1
                            }"
                        >
                            {{
                                cashFormHandlerService.transactionParentConcept.transactionType.id === 1
                                    ? '💰 Ingreso'
                                    : '💸 Egreso'
                            }}
                        </span>
                    </div>

                    <label><b>Monto:</b></label>
                    <div
                        class="text-danger"
                        *ngIf="
                            this.cashFormHandlerService.submitted && cashFormHandlerService.cashControl['amount'].errors
                        "
                    >
                        <small>Ingrese un monto válido</small>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" type="number" aria-describedby="amount" formControlName="amount" />
                    </div>

                    <app-payment-method-selector
                        id="paymentMethod"
                        name="paymentMethod"
                        aria-describedby="paymentMethod"
                        formControlName="paymentMethod"
                        [isReadOnly]="cashFormHandlerService.saved"
                        [selectedItem]="cashFormHandlerService.cashTransaction.paymentMethod"
                        [selectedIndex]="cashFormHandlerService.cashTransaction.paymentMethod.id"
                    ></app-payment-method-selector>

                    <label><b>Nota:</b></label>
                    <div
                        class="text-danger"
                        *ngIf="
                            this.cashFormHandlerService.submitted && cashFormHandlerService.cashControl['note'].errors
                        "
                    >
                        <small>Ingrese una nota descriptiva con 10 caracteres o más</small>
                    </div>
                    <div class="input-group input-group-sm pb-0 mb-2">
                        <textarea class="h-100 form-control" rows="4" aria-describedby="note" formControlName="note">
                        </textarea>
                    </div>
                    <label><b>Fecha y Hora:</b></label>
                    <div class="input-group input-group-sm">
                        <label>{{ currentDateTime }}</label>
                    </div>
                    <label><b>Usuario a Cargo:</b></label>
                    <div class="input-group input-group-sm">
                        <label>{{ currentUser.userName }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
