@if (currentUser$ | async; as currentUser) { @if (!currentUser.hasFinishedRegistration) {
<div class="alert alert-primary">
    ¡Hola! Parece que todavía no completaste tu perfil de usuario en Brillante Store. Completá los siguientes datos para
    acceder a la tienda y disfrutar de todo lo que Brillante tiene para vos.
</div>
}
<div class="card shadow border-0 form-container">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="avatar-container">
                <img
                    width="160px"
                    height="160px"
                    alt="Avatar de Usuario"
                    [src]="!!avatarUrl ? avatarUrl : 'assets/img/avatar-placeholder.png'"
                />
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" formControlName="firstName" />
                    @if (submitted && form.controls['firstName'].errors?.required) {
                    <div class="text-danger">
                        <small>¡Ups! El campo nombre no puede estar vacío.</small>
                    </div>
                    }
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Apellido</label>
                    <input class="form-control" formControlName="lastName" />
                    @if (submitted && form.controls['firstName'].errors?.required) {
                    <div class="text-danger">
                        <small>Ingresá tu apellido para completar el registro.</small>
                    </div>
                    }
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">DNI</label>
                    <input class="form-control" formControlName="dni" type="number" />
                    @if (submitted && form.controls['dni'].errors?.required) {
                    <div class="text-danger">
                        <small>Se requiere un DNI válido para actualizar tus datos.</small>
                    </div>
                    } @if (form.controls['dni'].dirty && form.controls['dni'].errors?.dniAlreadyAssigned) {
                    <div class="text-danger">
                        <small>El DNI ingresado ya se encuentra asignado a un cliente existente.</small>
                    </div>
                    }
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Email (sólo lectura)</label>
                    <input class="form-control" formControlName="email" type="email" readonly />
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Teléfono</label>
                    <input class="form-control" type="number" formControlName="telephone" />
                    @if (submitted && form.controls['dni'].errors?.required) {
                    <div class="text-danger">
                        <small>Ingresá un número de teléfono para que podamos contactarnos con vos.</small>
                    </div>
                    }
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Dirección</label>
                    <input class="form-control" formControlName="address" />
                    @if (submitted && form.controls['dni'].errors?.required) {
                    <div class="text-danger">
                        <small>Brindanos una dirección para despachar tus envíos.</small>
                    </div>
                    }
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Fecha de Nacimiento</label>
                    <ejs-datepicker
                        aria-describedby="birthDate"
                        formControlName="birthDate"
                        [format]="'yyyy/MM/dd'"
                        [enableMask]="true"
                        [maskPlaceholder]="maskPlaceholderValue"
                    ></ejs-datepicker>
                    @if (submitted && form.controls['birthDate'].errors?.required) {
                    <div class="text-danger">
                        <small>Por cuestiones legales, necesitamos que actualices tu fecha de nacimiento.</small>
                    </div>
                    } @if (submitted && form.controls['birthDate'].errors?.max) {
                    <div class="text-danger">
                        <small>Ingresá una fecha de nacimiento válida</small>
                    </div>
                    }
                </div>
                <div class="col-lg-6 d-flex justify-content-end align-items-end">
                    <div class="mb-3">
                        <button
                            type="button"
                            class="btn btn-primary"
                            [disabled]="!form.dirty || saved"
                            (click)="onUpdateButtonClicked()"
                        >
                            Actualizar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}
