<div id="global-wrapper" class="global-wrapper clearfix container">
    <section class="heroImage">
        <owl-carousel-o [options]="heroImage">
            <ng-template carouselSlide><img src="/assets/imagenes/tema/slides/contacto.jpg" alt="" /></ng-template>
            <ng-template carouselSlide><img src="/assets/imagenes/tema/slides/home2.jpg" alt="" /></ng-template>
            <ng-template carouselSlide><img src="/assets/imagenes/tema/slides/home1.png" alt="" /></ng-template>
            <ng-template carouselSlide><img src="/assets/imagenes/tema/slides/reparaciones.jpg" alt="" /></ng-template>
        </owl-carousel-o>
    </section>

    <section class="featuredBlocks">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-md-4">
                    <a routerLink="/repairs">
                        <figure>
                            <img src="/assets/imagenes/tema/banners/banner_reparaciones.jpg" alt="" class="mw-100" />
                        </figure>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <a>
                        <figure>
                            <img src="/assets/imagenes/tema/banners/banner_accesorios.jpg" alt="" class="mw-100" />
                        </figure>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <a>
                        <figure>
                            <img src="/assets/imagenes/tema/banners/banner_novedades.jpg" alt="" class="mw-100" />
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="franja bg-deg-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-col">
                    <div class="text-block">
                        <h6>REPARACIONES</h6>
                        <h2>Perfección <br />en cada detalle</h2>
                        <p class="m-0">
                            En Brillante buscamos <b>ese pensamiento diferente</b>, ese que nos hace exigirnos
                            constantemente para superarnos día a día, más allá del costo o los obstáculos. Porque
                            <b>cuidamos al máximo cada detalle</b>,tratando de brindar el mejor servicio.
                        </p>
                    </div>
                    <div>
                        <a routerLink="/repairs" class="btn btn-light btn-wider under-text-block-btn">VER MÁS</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <img src="/assets/imagenes/tema/demo/laptop1.png" alt="" class="mw-100" />
                </div>
            </div>
        </div>
    </section>

    <section class="productsCarousel">
        <div class="container">
            <div class="section_header">
                <h2>Productos <b>destacados</b></h2>
            </div>

            <section class="heroImage">
                <owl-carousel-o [options]="productsCarousel">
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="153">
                            <div class="carrito-agregar-ajax" id="ajax-153"></div>
                            <img
                                src="/assets/imagenes-s/productos/productos-imagen-186.png"
                                alt="Madera iPhone 6s / 6 plus"
                            />
                            <div class="badge badge-secondary">Madera iPhone 6s / 6 plus</div>
                            <div class="hovercard">
                                <h6>Madera iPhone 6s / 6 plus</h6>

                                <p>$850</p>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="153-madera-iphone-6s-6-plus" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>

                                    <button
                                        class="btn btn-light boton-carrito-agregar"
                                        id="boton-carrito-agregar-153"
                                        data-idProducto="153"
                                    >
                                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div></div
                    ></ng-template>
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="113">
                            <div class="carrito-agregar-ajax" id="ajax-113"></div>
                            <img src="/assets/imagenes-s/productos/productos-imagen-139.png" alt="iPhone 7 Plus 32gb" />
                            <div class="badge badge-secondary">iPhone 7 Plus 32gb</div>
                            <div class="hovercard">
                                <h6>iPhone 7 Plus 32gb</h6>

                                <p>$41900</p>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="113-iphone-7-plus-32gb" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>

                                    <button
                                        class="btn btn-light boton-carrito-agregar"
                                        id="boton-carrito-agregar-113"
                                        data-idProducto="113"
                                    >
                                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div></div
                    ></ng-template>
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="86">
                            <div class="carrito-agregar-ajax" id="ajax-86"></div>
                            <img src="/assets/imagenes-s/productos/productos-imagen-103.png" alt="Samsung S9 +" />
                            <div class="badge badge-secondary">Samsung S9 +</div>
                            <div class="hovercard">
                                <h6>Samsung S9 +</h6>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="86-samsung-s9-" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>
                                </div>
                            </div></div
                    ></ng-template>
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="21">
                            <div class="carrito-agregar-ajax" id="ajax-21"></div>
                            <img src="/assets/imagenes-s/productos/productos-imagen-28.png" alt="Funde One Case 6" />
                            <div class="badge badge-secondary">Funde One Case 6</div>
                            <div class="hovercard">
                                <h6>Funde One Case 6</h6>

                                <p>$1650</p>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="21-funde-one-case-6" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>

                                    <button
                                        class="btn btn-light boton-carrito-agregar"
                                        id="boton-carrito-agregar-21"
                                        data-idProducto="21"
                                    >
                                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div></div
                    ></ng-template>
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="134">
                            <div class="carrito-agregar-ajax" id="ajax-134"></div>
                            <img src="/assets/imagenes-s/productos/productos-imagen-164.png" alt="Achiever iPhone 6" />
                            <div class="badge badge-secondary">Achiever iPhone 6</div>
                            <div class="hovercard">
                                <h6>Achiever iPhone 6</h6>

                                <p>$1950</p>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="134-achiever-iphone-6" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>

                                    <button
                                        class="btn btn-light boton-carrito-agregar"
                                        id="boton-carrito-agregar-134"
                                        data-idProducto="134"
                                    >
                                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div></div
                    ></ng-template>
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="169">
                            <div class="carrito-agregar-ajax" id="ajax-169"></div>
                            <img
                                src="/assets/imagenes-s/productos/productos-imagen-202.png"
                                alt="SiliconeCover Samsung S9+"
                            />
                            <div class="badge badge-secondary">SiliconeCover Samsung S9+</div>
                            <div class="hovercard">
                                <h6>SiliconeCover Samsung S9+</h6>

                                <p>$1190</p>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="169-siliconecover-samsung-s9" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>

                                    <button
                                        class="btn btn-light boton-carrito-agregar"
                                        id="boton-carrito-agregar-169"
                                        data-idProducto="169"
                                    >
                                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div></div
                    ></ng-template>
                    <ng-template carouselSlide
                        ><div class="product_component" data-idProducto="35">
                            <div class="carrito-agregar-ajax" id="ajax-35"></div>
                            <img
                                src="/assets/imagenes-s/productos/productos-imagen-44.png"
                                alt="Funda Reveal iPhone 6"
                            />
                            <div class="badge badge-secondary">Funda Reveal iPhone 6</div>
                            <div class="hovercard">
                                <h6>Funda Reveal iPhone 6</h6>

                                <p>$1890</p>
                                <!--small>o 12 cuotas de $65.00</small-->
                                <div class="btns">
                                    <a href="35-funda-reveal-iphone-6" class="btn btn-light"
                                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                                    ></a>

                                    <button
                                        class="btn btn-light boton-carrito-agregar"
                                        id="boton-carrito-agregar-35"
                                        data-idProducto="35"
                                    >
                                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div></div
                    ></ng-template>
                </owl-carousel-o>
            </section>
        </div>
    </section>

    <section class="franja bg-deg-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-col d-flex flex-column justify-content-center">
                    <div class="text-block">
                        <h6>SERVICIOS</h6>
                        <h2>Servicios <br />a empresas</h2>
                        <p class="m-0">
                            Ofrecemos un <b>servicio integral para empresas</b> que consta de
                            <b>visitas programadas</b> donde analizamos todos los equipos informáticos, reparamos todos
                            los productos necesarios, actualizamos programas y damos asesoramiento sobre nuevos
                            productos y dispositivos para optimizar el rendimiento de tu negocio.
                        </p>
                    </div>
                    <div>
                        <a routerLink="/enterprise" class="btn btn-light btn-wider under-text-block-btn">VER MÁS</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center img-col">
                    <img src="/assets/imagenes/tema/demo/tablet.png" alt="" class="mw-100" />
                </div>
            </div>
        </div>
    </section>

    <section class="franja contactForm bg-deg-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-5 col-xl-5 text-col">
                    <div class="text-block">
                        <h2>Contactanos</h2>
                        <p>Déjanos tu consulta para que nuestros especialistas puedan comunicarse a la brevedad.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-7 col-xl-7">
                    <form name="consulta-contacto" id="consulta-contacto" data-prefijo="" novalidate>
                        <input type="hidden" name="registro" id="registro" value="0" />
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Nombre"
                                        id="nombre"
                                        name="nombre"
                                        required
                                        data-validation-required-message="Es obligatorio ingresar el nombre"
                                    />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="correo"
                                        name="correo"
                                        placeholder="Email"
                                        required
                                        data-validation-required-message="Es obligatorio ingresar el correo"
                                        data-validation-email-message="El correo ingresado no es válido"
                                    />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Teléfono"
                                        id="telefono"
                                        name="telefono"
                                        required
                                        data-validation-required-message="Es oligatorio ingresar el teléfono"
                                    />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-10">
                                <div class="form-group">
                                    <label for="mensaje">Mensaje</label>
                                    <textarea
                                        class="form-control"
                                        placeholder=""
                                        id="mensaje"
                                        name="mensaje"
                                        rows="3"
                                        required
                                        data-validation-required-message="Es obligatorio ingresar el mensaje"
                                    ></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <button
                                    type="submit"
                                    id="send"
                                    class="btn btn-brillante1 btn-wider consulta-contacto-boton-enviar"
                                >
                                    Enviar
                                </button>
                                <br /><br />
                                <div class="consulta-contacto-enviando" style="display: none">
                                    <i class="fa fa-spinner fa-spin"></i> Enviando mensaje
                                </div>
                                <div class="alert alert-success consulta-contacto-exito" style="display: none">
                                    Mensaje enviado con éxito
                                </div>
                                <div class="alert alert-danger consulta-contacto-error" style="display: none">
                                    El mensaje no pudo ser enviado, por favor, intentalo nuevamente
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
