.product_grid {
    nav {
        margin-top: 30px;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                a {
                    color: #999;
                    font-weight: 400;
                }
            }
        }
    }
}
