<div class="row">
    <div *ngFor="let product of products" class="col-6 col-md-3 card border-0">
        <div class="product">
            <div class="thumbnail-container">
                <img class="thumbnail" [src]="product.imageUrls[0]" [alt]="product.name" height="auto" width="100%" />
            </div>
            <!--          TODO: See Issue #82. Put to work the "add to cart" feature-->
            <div class="product-info">
                <!-- TODO: See Issue #81 for creation of navigation to product details -->
                <div class="name-container">
                    <a class="name">{{ product.name }}</a>
                </div>
                <!-- TODO: See Issue #80 for creation of a price pipe -->
                <div class="price-container">
                    <p class="price">${{ priceGenerationParser(product.price) }}</p>
                    <p class="installments">
                        12 cuotas de
                        <span class="installment-price"
                            >${{ priceGenerationParser((product.price / 12).toFixed(2)) }}</span
                        >
                    </p>
                    <!--                    <a class="add-to-cart">AGREGAR AL CARRITO</a>-->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product_grid_pagination">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 col-md-10 offset-sm-3 offset-md-2">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6">
                        <!-- TODO: Issue #86 - Get pagination data from component/service and processed data -->
                        <p class="category-pagination-sign">50 productos encontrados. Mostrando 1 - 18</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav>
                            <!-- TODO: Issue #86 - Get pagination data from component/service and processed data -->
                            <ul class="pagination category-pagination pull-right">
                                <li>
                                    <a href="#"><fa-icon [icon]="faChevronLeft"></fa-icon></a>
                                </li>
                                <li *ngFor="let page of pages">
                                    <a
                                        [ngClass]="{ active: page == productsService.currentOffset }"
                                        [routerLink]="productsService.navigateToPageRoute(page)"
                                        >{{ page }}</a
                                    >
                                </li>
                                <li>
                                    <a href="#"><fa-icon [icon]="faChevronRight"></fa-icon></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
