<div class="card-columns">
    <div *ngFor="let product of products" class="card border-0">
        <div class="product product_component">
            <img [src]="product.imageUrls[0]" [alt]="product.name" />
            <div class="badge badge-secondary">{{ product.name }}</div>
            <div class="hovercard">
                <h6>{{ product.name }}</h6>
                <p>${{ product.price }}</p>
                <!-- TODO: See Issue #80 for creation of a price pipe -->
                <small>o 12 cuotas de ${{ (product.price / 12).toFixed(2) }}</small>
                <div class="btns">
                    <!-- TODO: See Issue #81 for creation of navigation to product details -->
                    <!--                    <a [routerLink]="'/products/product-detail/' + product.id" class="btn btn-light"-->
                    <!--                        ><span>VER MÁS</span> <i class="fas fa-eye"></i-->
                    <!--                    ></a>-->
                    <!-- TODO: See Issue #82. Put to work the "add to cart" feature -->
                    <!--                    <button-->
                    <!--                        class="btn btn-light boton-carrito-agregar"-->
                    <!--                        [id]="'boton-carrito-agregar-' + product.id"-->
                    <!--                        (click)="addToCart(product.id)"-->
                    <!--                    >-->
                    <!--                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>-->
                    <!--                    </button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product_grid_pagination">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 col-md-10 offset-sm-3 offset-md-2">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6">
                        <!-- TODO: Issue #86 - Get pagination data from component/service and processed data -->
                        <p class="category-pagination-sign">50 productos encontrados. Mostrando 1 - 18</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav>
                            <!-- TODO: Issue #86 - Get pagination data from component/service and processed data -->
                            <ul class="pagination category-pagination pull-right">
                                <li class="disabled">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </li>
                                <!--                                <li>-->
                                <!--                                    <a class="active">1</a>-->
                                <!--                                </li>-->
                                <li *ngFor="let page of pages">
                                    <a href="#" (click)="productsService.generatePageRoute(page, null, null)">{{
                                        page
                                    }}</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
