@import 'src/assets/scss/bootstrap-theming';

.category-filters-list > li a {
    font-size: 14px;
}

.category-filters {
    nav {
        margin-top: 30px;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    color: $secondary;
                    font-weight: 400;
                }
            }
        }
    }
    a {
        &.active {
            font-weight: 700;
            color: $primary;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
