<aside class="category-filters">
    <app-search-input class="d-none d-lg-block" (search)="onSearchSubmitted($event)"></app-search-input>
    <nav class="category-filters-section">
        <h6>Categorías</h6>
        <ul class="category-filters-list">
            <li class="_active">
                <!-- TODO: Issue #82. Apply count of existing items for each category. Build a pipe. -->
                <a [routerLink]="productsService.generatePageRoute(1, 'all', 'all')" (click)="onFilterSelected()"
                    ><strong>Todas</strong>
                    <!--                                    <span class="count">({{ productsService.categories.length }})</span>-->
                </a>
            </li>
            <li class="_active" *ngFor="let category of productsService.categories">
                <!-- TODO: Issue #82. Apply count of existing items for each category. Build a pipe. -->
                <a
                    (click)="onFilterSelected()"
                    [ngClass]="{ active: productsService.currentCategory === category.id }"
                    [routerLink]="productsService.generatePageRoute(1, 'all', category.id)"
                    >{{ category.title }}
                    <!--                                    <span class="count">({{ productsService.categories.length }})</span>-->
                </a>
            </li>
        </ul>

        <br />
        <br />

        <h6>Marcas</h6>
        <ul class="category-filters-list">
            <!-- TODO: Issue #82. Apply count of existing items for each category. Build a pipe. -->
            <li class="_active">
                <a [routerLink]="productsService.generatePageRoute(1, 'all', null)" (click)="onFilterSelected()"
                    ><strong>Todas</strong>
                    <!--                                    <span class="count">({{ productsService.categories.length }})</span>-->
                </a>
            </li>
            <li class="_active" *ngFor="let manufacturer of productsService.manufacturers">
                <a
                    (click)="onFilterSelected()"
                    [ngClass]="{ active: productsService.currentManufacturer === manufacturer.id }"
                    [routerLink]="productsService.generatePageRoute(1, manufacturer.id, 'all')"
                >
                    <!-- TODO: Issue #83. Apply count of existing items for each manufacturer. Build a pipe. -->
                    {{ manufacturer.title }}
                    <!-- <span class="count">({{ productsService.manufacturers.length }})</span>-->
                </a>
            </li>
        </ul>
    </nav>
</aside>
