#cash-transaction-report {
    height: 768px;

    .wj-flexgrid {
        font-size: 0.75rem;
        height: 726px;
        .wj-colfooters {
            .wj-cell {
                padding: 0 !important;
            }
        }
    }
}
