<div *ngIf="showSiblingsGrid">
    <wj-flex-grid
        id="concepts-grid"
        [selectionMode]="editMode ? 'None' : 'Row'"
        [itemsSource]="conceptsCollection"
        [selectionMode]="'Row'"
        [headersVisibility]="'Column'"
        [allowResizing]="'Columns'"
        [showSelectedHeaders]="'Row'"
        [isReadOnly]="true"
        (itemsSourceChanged)="gridSelectionChange(conceptsCollection.currentItem)"
        (selectionChanged)="gridSelectionChange(conceptsCollection.currentItem)"
    >
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column
            *ngFor="let column of conceptsGridColumns"
            [width]="column.width"
            [binding]="column.binding"
            [header]="column.header"
            [visible]="true"
        >
            <ng-template
                *ngIf="column.binding === 'enabled'"
                wjFlexGridCellTemplate
                [cellType]="'Cell'"
                let-cell="cell"
            >
                {{ cell.item.enabled ? 'Habilitado' : 'Deshabilitado' }}
            </ng-template>
            <ng-template
                *ngIf="column.binding === 'modifiable'"
                wjFlexGridCellTemplate
                [cellType]="'Cell'"
                let-cell="cell"
            >
                {{ cell.item.modifiable ? 'Sí' : 'No' }}
            </ng-template>
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>

<div class="d-flex justify-content-between align-items-center">
    <app-cash-transaction-concept-details
        *ngIf="detailsConditions"
        class="w-100"
        [concept]="concept"
        [addMode]="addMode"
        [editMode]="editMode"
        [itemsSource]="itemsSource"
        [label]="label"
        [showSiblingsGrid]="showSiblingsGrid"
        (statusChanged)="onConceptUpdated($event)"
        (selectionChanged)="onSelectionChange($event)"
    ></app-cash-transaction-concept-details>
    <app-cash-transaction-concept-add
        *ngIf="createConditions"
        class="w-100"
        [label]="label"
        [parent]="parent"
        (created)="onConceptCreated($event)"
    >
    </app-cash-transaction-concept-add>
    <app-cash-transaction-concept-update
        *ngIf="editConditions"
        class="w-100"
        [concept]="concept"
        [canEditType]="false"
        [label]="label"
        (updated)="onConceptUpdated($event)"
    >
    </app-cash-transaction-concept-update>
</div>
