<div class="row">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-body">
                <div id="client-grid-container">
                    @if (!customerGridData) {
                    <div class="alert alert-info h-100 text-center">
                        <h3>Cargando...</h3>
                    </div>
                    } @if (customerGridData) {
                    <ejs-grid
                        #grid
                        [allowPaging]="true"
                        [allowFiltering]="true"
                        [dataSource]="customerGridData"
                        [pageSettings]="{ pageSize: 16 }"
                        (rowSelected)="getClientDetails($event)"
                    >
                        <e-columns>
                            <e-column field="id" headerText="ID" width="80"></e-column>
                            <e-column field="dni" headerText="DNI" width="120"></e-column>
                            <e-column field="firstName" headerText="Nombre"></e-column>
                            <e-column field="lastName" headerText="Apellido"></e-column>
                            <e-column field="birthDate" headerText="Natalicio" width="120"></e-column>
                        </e-columns>
                    </ejs-grid>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
                <button class="btn btn-sm btn-primary" (click)="goToCustomerUpdate(selectedClientData)">
                    💾️ Actualizar
                </button>
                <button type="button" class="ms-3 btn btn-sm btn-danger" (click)="delete(selectedClientData)">
                    ❌ Eliminar
                </button>
            </div>
            <div class="card-body">
                @if (selectedClientData) {
                <p><strong>ID Cliente: </strong> {{ selectedClientData.id }}</p>
                <hr />
                <p>
                    <strong>Nombre Completo: </strong>
                    {{ selectedClientData.firstName + ' ' + selectedClientData.lastName }}
                </p>
                <p><strong>DNI: </strong> {{ selectedClientData.dni }}</p>
                <p><strong>Teléfono: </strong> {{ selectedClientData.telephone }}</p>
                <p><strong>eMail: </strong> {{ selectedClientData.email }}</p>
                <p>
                    <strong>Natalicio: </strong>
                    @if (selectedClientData.birthDate) {
                    {{ selectedClientData.birthDate }}
                    } @if (!selectedClientData.birthDate) { No registrado }
                </p>
                <p><strong>Dirección: </strong> {{ selectedClientData.address }}</p>
                <hr />
                } @if (selectedClientData && !repairGridData) {
                <div
                    id="repair-loading-alert"
                    class="alert alert-info d-flex justify-content-center align-items-center"
                >
                    <h4>Cargando...</h4>
                </div>
                } @if (selectedClientData && repairGridData && repairGridData.length) {
                <div id="repair-grid-container">
                    <ejs-grid
                        [dataSource]="repairGridData"
                        [allowPaging]="true"
                        [pageSettings]="{ pageSize: 5 }"
                        (rowSelected)="getRepairDetails($event)"
                    >
                        <e-columns>
                            <e-column field="id" headerText="ID" width="80"></e-column>
                            <e-column field="device.manufacturer" headerText="Marca"></e-column>
                            <e-column field="device.model" headerText="Modelo"></e-column>
                            <e-column field="lastUpdate" headerText="Última Act." width="100">
                                <ng-template #template let-data>
                                    {{ data.lastUpdate | date: 'yyyy-MM-dd HH:mm' }}
                                </ng-template>
                            </e-column>
                            <e-column field="status.description" headerText="Estado"></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
                <hr class="mt-2 mb-2" />
                @if (selectedRepairData) {
                <div class="footer-controls row">
                    <div class="col-12 text-right">
                        <button class="btn btn-sm btn-primary h-100" (click)="goToUpdate()">
                            🛠️ Ver en Reparaciones
                        </button>
                    </div>
                </div>
                } } @if (!selectedClientData) {
                <p>Seleccione un cliente de la grilla</p>
                <hr />
                }
            </div>
        </div>
    </div>
</div>
