<div id="customer-data" class="card" [formGroup]="form">
    <div class="card-header text-white bg-secondary">🙍 Datos del Cliente</div>
    <div class="card-body">
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="dni">DNI</label>
                <div>
                    @if (customerExists) {
                    <span class="badge badge-info p-2">Cliente ya registrado</span>
                    } @if (!customerExists && submitted && controls['dni'].errors?.required) {
                    <div class="text-danger">
                        <small>Se requiere el DNI del cliente</small>
                    </div>
                    } @if (!customerExists && submitted && controls['dni'].errors?.minLength) {
                    <div class="text-danger">
                        <small>Ingrese un DNI válido - 7 números o más</small>
                    </div>
                    }
                </div>
            </div>
            <input
                name="dni"
                type="number"
                class="form-control form-control-sm"
                id="dni"
                min="1000000"
                step="1"
                aria-describedby="dni"
                formControlName="dni"
                (blur)="repairFormHandlerService.getExistingCustomer()"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="firstName">Nombre</label>
                @if (submitted && controls['firstName'].errors?.required) {
                <div class="text-danger">
                    <small>Se requiere el nombre del cliente</small>
                </div>
                }
            </div>
            <input
                name="firstName"
                type="text"
                class="form-control form-control-sm"
                id="firstName"
                formControlName="firstName"
                [readonly]="customerExists || saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="lastName">Apellido</label>
                @if (submitted && controls['firstName'].errors?.required) {
                <div class="text-danger">
                    <small>Se requiere el apellido del cliente</small>
                </div>
                }
            </div>
            <input
                name="lastName"
                type="text"
                class="form-control form-control-sm"
                id="lastName"
                formControlName="lastName"
                [readonly]="customerExists || saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="email">Email</label>
                @if (submitted && controls['email'].errors?.required) {
                <div class="text-danger">
                    <small>Se requiere un email del cliente</small>
                </div>
                } @if (submitted && controls['email'].errors?.email) {
                <div class="text-danger">
                    <small>Ingrese un email válido</small>
                </div>
                }
            </div>
            <input
                name="email"
                type="email"
                class="form-control form-control-sm"
                id="email"
                formControlName="email"
                [readonly]="customerExists || saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="birthDate">Fecha de Nacimiento</label>
            </div>
            @if (submitted && controls['birthDate'].errors?.required) {
            <div class="text-danger">
                <small
                    >Ingrese fecha de nacimiento válida. Para clientes ya registrados, proceda a editar datos del
                    cliente accediendo desde el botón superior.</small
                >
            </div>
            }
            <div class="input-group input-group-sm">
                <ejs-datepicker
                    aria-describedby="birthDate"
                    formControlName="birthDate"
                    id="birthDate"
                    [format]="'dd/MM/yyyy'"
                    [enabled]="!customerExists && !saved"
                    [enableMask]="true"
                    [maskPlaceholder]="maskPlaceholderValue"
                    [required]="true"
                ></ejs-datepicker>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="telephone">Teléfono</label>
                @if (submitted && controls['telephone'].errors?.required) {
                <div class="text-danger">
                    <small>Se requiere un teléfono del cliente</small>
                </div>
                }
            </div>
            <input
                name="telephone"
                type="number"
                class="form-control form-control-sm"
                id="telephone"
                min="0"
                step="1"
                placeholder="Sólo numeros"
                formControlName="telephone"
                [readonly]="customerExists || saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="address">Dirección</label>
                @if (submitted && controls['address'].errors?.required) {
                <div class="text-danger">
                    <small>Se requiere una dirección para el cliente</small>
                </div>
                }
            </div>
            <input
                name="address"
                type="text"
                class="form-control form-control-sm"
                id="address"
                formControlName="address"
                [readonly]="customerExists || saved"
            />
        </div>
    </div>
</div>
