<div id="customer-data" class="card" [formGroup]="form">
    <div class="card-header text-white bg-secondary">🙍 Datos del Cliente</div>
    <div formGroupName="customer" class="card-body">
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="dni">DNI</label>
                <div>
                    <span *ngIf="repairFormHandlerService.customerExists" class="badge badge-info p-2"
                        >Cliente ya registrado</span
                    >
                    <div
                        class="text-danger"
                        *ngIf="
                            !repairFormHandlerService.customerExists &&
                            this.repairFormHandlerService.submitted &&
                            repairFormHandlerService.customerControl['dni'].errors?.required
                        "
                    >
                        <small>Se requiere el DNI del cliente</small>
                    </div>
                    <div
                        class="text-danger"
                        *ngIf="
                            !repairFormHandlerService.customerExists &&
                            this.repairFormHandlerService.submitted &&
                            repairFormHandlerService.customerControl['dni'].errors?.minLength
                        "
                    >
                        <small>Ingrese un DNI válido - 7 números o más</small>
                    </div>
                </div>
            </div>
            <input
                name="dni"
                type="number"
                class="form-control form-control-sm"
                id="dni"
                min="1000000"
                step="1"
                aria-describedby="dni"
                formControlName="dni"
                (blur)="repairFormHandlerService.getExistingCustomer()"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="firstName">Nombre</label>
                <div
                    class="text-danger"
                    *ngIf="
                        this.repairFormHandlerService.submitted &&
                        repairFormHandlerService.customerControl['firstName'].errors?.required
                    "
                >
                    <small>Se requiere el nombre del cliente</small>
                </div>
            </div>
            <input
                name="firstName"
                type="text"
                class="form-control form-control-sm"
                id="firstName"
                formControlName="firstName"
                [readonly]="repairFormHandlerService.customerExists || repairFormHandlerService.saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="lastName">Apellido</label>
                <div
                    class="text-danger"
                    *ngIf="
                        this.repairFormHandlerService.submitted &&
                        repairFormHandlerService.customerControl['firstName'].errors?.required
                    "
                >
                    <small>Se requiere el apellido del cliente</small>
                </div>
            </div>
            <input
                name="lastName"
                type="text"
                class="form-control form-control-sm"
                id="lastName"
                formControlName="lastName"
                [readonly]="repairFormHandlerService.customerExists || repairFormHandlerService.saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="email">Email</label>
                <div
                    class="text-danger"
                    *ngIf="
                        this.repairFormHandlerService.submitted &&
                        repairFormHandlerService.customerControl['email'].errors?.required
                    "
                >
                    <small>Se requiere un email del cliente</small>
                </div>
                <div
                    class="text-danger"
                    *ngIf="
                        this.repairFormHandlerService.submitted &&
                        repairFormHandlerService.customerControl['email'].errors?.email
                    "
                >
                    <small>Ingrese un email válido</small>
                </div>
            </div>
            <input
                name="email"
                type="email"
                class="form-control form-control-sm"
                id="email"
                formControlName="email"
                [readonly]="repairFormHandlerService.customerExists || repairFormHandlerService.saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="telephone">Teléfono</label>
                <div
                    class="text-danger"
                    *ngIf="
                        this.repairFormHandlerService.submitted &&
                        repairFormHandlerService.customerControl['telephone'].errors?.required
                    "
                >
                    <small>Se requiere un teléfono del cliente</small>
                </div>
            </div>
            <input
                name="telephone"
                type="number"
                class="form-control form-control-sm"
                id="telephone"
                min="0"
                step="1"
                placeholder="Sólo numeros"
                formControlName="telephone"
                [readonly]="repairFormHandlerService.customerExists || repairFormHandlerService.saved"
            />
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="address">Dirección</label>
                <div
                    class="text-danger"
                    *ngIf="
                        repairFormHandlerService.submitted &&
                        repairFormHandlerService.customerControl['address'].errors?.required
                    "
                >
                    <small>Se requiere una dirección para el cliente</small>
                </div>
            </div>
            <input
                name="address"
                type="text"
                class="form-control form-control-sm"
                id="address"
                formControlName="address"
                [readonly]="repairFormHandlerService.customerExists || repairFormHandlerService.saved"
            />
        </div>
    </div>
</div>
