<owl-carousel-o [options]="productsCarousel">
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="153">
            <div class="carrito-agregar-ajax" id="ajax-153"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-186.png" alt="Madera iPhone 6s / 6 plus" />
            <div class="badge badge-secondary">Madera iPhone 6s / 6 plus</div>
            <div class="hovercard">
                <h6>Madera iPhone 6s / 6 plus</h6>

                <p>$850</p>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="153-madera-iphone-6s-6-plus" class="btn btn-light"
                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                    ></a>

                    <button
                        class="btn btn-light boton-carrito-agregar"
                        id="boton-carrito-agregar-153"
                        data-idProducto="153"
                    >
                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                    </button>
                </div>
            </div></div
    ></ng-template>
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="113">
            <div class="carrito-agregar-ajax" id="ajax-113"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-139.png" alt="iPhone 7 Plus 32gb" />
            <div class="badge badge-secondary">iPhone 7 Plus 32gb</div>
            <div class="hovercard">
                <h6>iPhone 7 Plus 32gb</h6>

                <p>$41900</p>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="113-iphone-7-plus-32gb" class="btn btn-light"
                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                    ></a>

                    <button
                        class="btn btn-light boton-carrito-agregar"
                        id="boton-carrito-agregar-113"
                        data-idProducto="113"
                    >
                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                    </button>
                </div>
            </div></div
    ></ng-template>
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="86">
            <div class="carrito-agregar-ajax" id="ajax-86"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-103.png" alt="Samsung S9 +" />
            <div class="badge badge-secondary">Samsung S9 +</div>
            <div class="hovercard">
                <h6>Samsung S9 +</h6>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="86-samsung-s9-" class="btn btn-light"><span>VER MÁS</span> <i class="fal fa-eye"></i></a>
                </div>
            </div></div
    ></ng-template>
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="21">
            <div class="carrito-agregar-ajax" id="ajax-21"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-28.png" alt="Funde One Case 6" />
            <div class="badge badge-secondary">Funde One Case 6</div>
            <div class="hovercard">
                <h6>Funde One Case 6</h6>

                <p>$1650</p>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="21-funde-one-case-6" class="btn btn-light"
                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                    ></a>

                    <button
                        class="btn btn-light boton-carrito-agregar"
                        id="boton-carrito-agregar-21"
                        data-idProducto="21"
                    >
                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                    </button>
                </div>
            </div></div
    ></ng-template>
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="134">
            <div class="carrito-agregar-ajax" id="ajax-134"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-164.png" alt="Achiever iPhone 6" />
            <div class="badge badge-secondary">Achiever iPhone 6</div>
            <div class="hovercard">
                <h6>Achiever iPhone 6</h6>

                <p>$1950</p>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="134-achiever-iphone-6" class="btn btn-light"
                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                    ></a>

                    <button
                        class="btn btn-light boton-carrito-agregar"
                        id="boton-carrito-agregar-134"
                        data-idProducto="134"
                    >
                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                    </button>
                </div>
            </div></div
    ></ng-template>
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="169">
            <div class="carrito-agregar-ajax" id="ajax-169"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-202.png" alt="SiliconeCover Samsung S9+" />
            <div class="badge badge-secondary">SiliconeCover Samsung S9+</div>
            <div class="hovercard">
                <h6>SiliconeCover Samsung S9+</h6>

                <p>$1190</p>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="169-siliconecover-samsung-s9" class="btn btn-light"
                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                    ></a>

                    <button
                        class="btn btn-light boton-carrito-agregar"
                        id="boton-carrito-agregar-169"
                        data-idProducto="169"
                    >
                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                    </button>
                </div>
            </div></div
    ></ng-template>
    <ng-template carouselSlide
        ><div class="product_component" data-idProducto="35">
            <div class="carrito-agregar-ajax" id="ajax-35"></div>
            <img src="/assets/imagenes-s/productos/productos-imagen-44.png" alt="Funda Reveal iPhone 6" />
            <div class="badge badge-secondary">Funda Reveal iPhone 6</div>
            <div class="hovercard">
                <h6>Funda Reveal iPhone 6</h6>

                <p>$1890</p>
                <!--small>o 12 cuotas de $65.00</small-->
                <div class="btns">
                    <a href="35-funda-reveal-iphone-6" class="btn btn-light"
                        ><span>VER MÁS</span> <i class="fal fa-eye"></i
                    ></a>

                    <button
                        class="btn btn-light boton-carrito-agregar"
                        id="boton-carrito-agregar-35"
                        data-idProducto="35"
                    >
                        <span>AGREGAR</span> <i class="far fa-cart-plus"></i>
                    </button>
                </div>
            </div></div
    ></ng-template>
</owl-carousel-o>
