@import "~bootstrap/scss/bootstrap.scss";

.form-check-input {
  position: absolute;
  margin-top: .45rem;
  @extend .ml-1;
}

.wj-flexgrid {
  font-size: 0.75rem;
  height: 600px;
}

.card-body {
  height: 768px;
}

#footerControls{
  height: 34px;
}
