<div class="card-deck">
    <div class="card text-white bg-primary mb-3" (click)="goToRepair()">
        <div class="card-body">
            <h5 class="card-title">🔧 Gestión de Reparaciones</h5>
            <p class="card-text">Ingresar al menú de gestión de reparaciones</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" (click)="goTo('client-dashboard')">
        <div class="card-body">
            <h5 class="card-title">✋🏻 Gestión de Clientes</h5>
            <p class="card-text">Ingresar al menú de gestión de clientes</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" (click)="goToCash()">
        <div class="card-body">
            <h5 class="card-title">💵 Gestión de Caja</h5>
            <p class="card-text">Ingresar al menú de gestión de caja</p>
        </div>
    </div>

    <div class="card text-white bg-info mb-3" (click)="goTo('products-dashboard')">
        <div class="card-body">
            <h5 class="card-title">📱 Gestión de Stock</h5>
            <p class="card-text">Ingresar al menú de gestión de stock</p>
        </div>
        <div class="card-footer bg-danger">
            <small class="text-white">Módulo a implementar</small>
        </div>
    </div>
</div>

<hr />

<h3>Usuarios registrados:</h3>
<ul>
    <li *ngFor="let user of users">
        {{ user.username }} ({{ user.firstName }} {{ user.lastName }})
        <!-- - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>-->
    </li>
</ul>
