<div class="card-deck">
    <div class="card text-white bg-primary mb-3" (click)="goToRepair()">
        <div class="card-body">
            <h5 class="card-title">🔧 Gestión de Reparaciones</h5>
            <p class="card-text">Ingresar al menú de gestión de reparaciones</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" (click)="goTo('client-dashboard')">
        <div class="card-body">
            <h5 class="card-title">✋🏻 Gestión de Clientes</h5>
            <p class="card-text">Ingresar al menú de gestión de clientes</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" (click)="goToCash()">
        <div class="card-body">
            <h5 class="card-title">💵 Gestión de Caja</h5>
            <p class="card-text">Ingresar al menú de gestión de caja</p>
        </div>
    </div>

    <div class="card text-white bg-info mb-3" (click)="goTo('products-list-dashboard')">
        <div class="card-body">
            <h5 class="card-title">📱 Gestión de Stock</h5>
            <p class="card-text">Ingresar al menú de gestión de stock</p>
        </div>
        <div class="card-footer bg-danger">
            <small class="text-white">Módulo a implementar</small>
        </div>
    </div>

    <div class="card text-white bg-info mb-3" (click)="goTo('settings-dashboard')">
        <div class="card-body">
            <h5 class="card-title">⚙️ Configuración</h5>
            <p class="card-text">Ingresar al menú de Configuración</p>
        </div>
    </div>
</div>

<hr />

<ng-container *ngIf="!officeBranchService.current.value">
    <div class="alert alert-danger">
        <h6 class="m-0 px-0">
            Para poder hacer uso de las características del sistema, previamente un administrador o encargado de negocio
            debe asignar una sucursal en la sección "Gestión de Sucursales" de la ⚙ Configuración.
        </h6>
    </div>
</ng-container>
