.file-uploader-cargador
{
    border: solid 1px #000;
    width: 100px;
}
.qq-uploader
{
    float: left;
    display: block;
    left: 180px;
    margin: 30px 0 0 30px;
    overflow: hidden;    
    position: absolute;
    text-transform: uppercase;
    top: -80px;
}
.qq-upload-button
{
    font-size: 14px;
}
.qq-upload-list
{
    display: none;
}
.qq-upload-drop-area
{
    border: dotted 1px #c4c4c4;
    color: #000;
    background: #f1f1f1;
    height: 40px;
    left: 0;
    line-height: 20px;
    text-align: center;
    top: 0;
    position: absolute;
    width: 80%;
}

.ul-imagenes
{
    float: left;
    margin: 0 0 10px 30px;
    overflow: hidden;
    padding: 30px 0 30px 10px;    
    width: 100%;
    z-index: 100;
}
.ul-imagenes li
{
    border: dotted 1px #c4c4c4;
    float: left;
    min-height: 170px;
    margin: 10px 10px 0 0;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 160px;
}
.ul-imagenes li.no_mover
{
    border: none;
    height: 10px;
    display: none;
    min-height: 40px;
    overflow: visible;
    width: 100%;
}
.ul-imagenes li:hover
{
    border: solid 1px #c4c4c4;
}
.ul-imagenes li a.borrar,
.ul-imagenes li a.editar,
.ul-imagenes li a.cortar
{
    position: absolute;
    visibility: hidden;
}
.ul-imagenes li a.borrar span,
.ul-imagenes li a.editar span,
.ul-imagenes li a.cortar span
{
    display: none;
}
.ul-imagenes li a.borrar
{
    background: #f11b1b;
    left: 10px;
    top: 10px;
}
.ul-imagenes li a.borrar:hover
{
    
}
.ul-imagenes li a.editar
{
    left: 45px;
    top: 10px;
}
.ul-imagenes li a.editar:hover
{
    
}
.ul-imagenes li a.cortar
{
    right: 10px;
    top: 10px;
    
}
.ul-imagenes li a.cortar:hover
{
    
}
.ul-imagenes li.cargadorTemporal,
.ul-imagenes li .divCargadorTemporal
{
    background: #f3f3f3 url('/imagenes/panel/ajax2.gif') center center no-repeat;
}
.ul-imagenes li .divCargadorTemporal
{
    height: 150px;
    display: none;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 108px;
}
.ul-imagenes li .campo-editar-texto-imagen
{
    border: solid 1px #c4c4c4;
    color: #000;
    font-family: 'Tahoma';
    font-size: 12px;
    float: left;
    margin: 5px 0 0 0;
    opacity: 0.6;
    padding: 6px;
    resize: none;
    width: 150px;
}