body
{
    cursor: default;
    background: #f1f1f1;
}
a:hover,
a:active,
a:focus
{
    text-decoration: none !important;
}
[data-ma-theme="blue"]
{
    background: #0f1f40;
}
.main-menu-opciones
{
    border-bottom: solid 2px #d9d9d9;
}
.form-group-imagen
{
    padding-top: 20px;
}
.formulario-texto-error
{
    color: #ff0000;
    font-size: 13px;
}
.card .alert-danger
{
    margin: 10px 5% 0 5%;
    width: 90%;
}
.card .card-header
{
    margin: 0;
    padding: 0;
}
.breadcrumb
{
    border: none;
}
.table-responsive
{
    width: 100%;
}
.table-responsive .table tr:hover
{
    background: #ebebeb;
}
.table-responsive .table tr:hover a
{
    color: #333;
}
.boton-enviar-panel
{
    display: none;
}
.boton-borrar
{
    box-shadow: none !important;
    color: #f44336;
    font-size: 16px;
    height: 30px;
    width: 30px;    
}
.boton-relacional
{
    margin: 0 5px 0 5px;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th
{
    font-size: 14px;
}
.card-header
{
    padding: 10px 10px 0 30px !important;
}

.hi-logo img
{
    opacity: 0.55;
}
.sp-pic img
{
    visibility: hidden;
}
.c-black
{
    color: #4e4e4e !important;
    font-weight: 300 !important;
    font-size: 13px;
}
.form-control, output
{
    font-size: 14px;
}
.bloque-datos
{
    color: #333 !important;
    border-top: solid 1px #d9d9d9;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0 10px 0;
}
.historial_precios
{
    padding-left: 250px;
}
.historial_precios p
{
    border-bottom: dotted 1px #c4c4c4;
    font-size: 13px;
    margin-bottom: 10px;
    max-width: 600px;
    padding-bottom: 10px;
}
.historial_precios .bloque-datos
{
    border: none;
    margin: 0 0 20px 0;
}
.form-control-archivo
{
    display: none !important;
}
.form-control-falso
{
    width: 300px;
    padding-left: 10px !important;
    background: #fff;
    border: solid 1px #c4c4c4;
}
.form-group-radio 
{
    margin: 10px 0 0 0;
}
.formulario-imagen-boton
{
    margin: 20px 0 20px 0;
}
.btn:not(.btn-link)
{
    box-shadow: none;
}
.formulario-imagen-imagen
{
    margin: -20px 0 0 0;
}
.listado-imagen
{
    border-radius: 50% !important;
    border: solid 1px #c4c4c4;
}
.toggle-switch[data-ts-color="lime"] input:checked:not(:disabled) + .ts-helper
{
    border: solid 1px #cedf19;
}
.contenedor-botones-acciones
{
    margin: 10px 0 0 200px;
}
.contenedor-botones-acciones a
{
    color: #fff;
}
.menu-superior li
{
    float: left;
    list-style: none;
    padding: 0 10px 0 10px;
}
.menu-superior
{
    margin-left: -100px;
}
.menu-superior a
{
    color: #fff;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.menu-superior a:hover
{
    border-bottom: solid 3px #6bae06;
}
.menu-superior a.boton-volver
{
    color: #ffb22d;
}
.menu-superior a.boton-volver:hover
{
    border-bottom: solid 3px #ffb22d;
}
.boton-borrado-multiple
{
    display: none;
}
@media (min-width: 768px) {
  .breadcrumb
  {
    display: none;
  }
}
.boton-buscar,
.boton-limpiar-busqueda
{
    background: #efefef;
    color: #4c4c4c;
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: -70px;
    text-transform: uppercase;
    padding: 10px 15px 9px 10px;
    z-index: 1000;
}
.boton-buscar
{
    border: none;
    right:  20px;
    padding: 10px 15px 9px 15px;
    z-index: 1100;
}
.boton-ficha-modal
{
    background: #f1f1f1;
    border-radius: 50%;
    color: #4e4e4e;
    margin: 0 5px 0 0;
    padding: 4px 7px 4px 7px;
}
.boton-ficha-modal:hover
{
    background: #6bae06;
    color: #fff;
}
.qq-upload-button
{
    border-color: #fff !important;
    font-size: 14px;
    margin: 10px 0 0 20px;
}
.linea
{
    border-top: solid 1px #d9d9d9;
    margin: 20px 0 20px 0;
}
.media
{
    margin: 0 0 20px 0;
}
.lgi-img
{
    border: solid 1px #d9d9d9;
    height: 70px;
    width: 70px;
}
.media-body a
{
    font-size: 15px;
}
.ajax-cargador
{
    background: #fff;
    height: 100%;
    display: none;
    left: 0;
    opacity: 0.75;
    padding: 10px 0 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}
.contenedor-ajax
{
    display: none;
}
.material-imagen
{
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.material-imagen img
{
    height: 70px;
    width: 70px;
}
.material-numero
{
    color: #6bae06;
    font-size: 14px;
}
.material-numero small
{
    font-size: 12px;
    color: #707070;
}
.lgi-heading
{
    font-size: 15px;
}
.lgi-heading small
{
    font-size: 12px !important;
}
.buscador-activo
{
    background: #6bae06;
}
.list-group
{
    border-bottom: solid 1px #e7e7e7;
    background: #fff;
    display: block;
    margin: 10px 0 0 0;
    overflow: hidden;
    position: relative;
}
.divisor-idiomas
{
    border-bottom: solid 1px #fff;
    display: block;
    float: left;
    margin-bottom: 40px;
    width: 100%;
}
.ficha-modal-titulo
{
    border-bottom: solid 1px #d9d9d9;
    font-size: 16px !important;
    font-weight: 300;
    padding-bottom: 6px;
}
.dataTables_length select
{
    height: 40px;
}
.carrito-filtros
{
    padding: 30px;
    position: relative;
    max-width: 900px;
}
.carrito-filtros .form-group-idPersona
{
    float: left;
    width: 50%;
}
.carrito-filtros .form-group-desde,
.carrito-filtros .form-group-hasta
{
    float: left;
    width: 25%;
}
.carrito-filtros .control-label
{
    text-transform: uppercase;
    padding-left: 0;
    width: 100%;
}
.carrito-filtros .col-sm-8
{
    width: 100%;
}
.form-group-enviar
{
    right: -50px;
    position: absolute;
    top: 50px;
    z-index: 100;
}
.carrito-filtros .boton-enviar
{
    color: #fff;
    background: #0069d6;
    border-radius: 3px;
    border: none;
    display: block;
    padding: 6px 10px 6px 10px;    
}
.boton-limpiar-busqueda-carrito
{
    float: left;
    margin: -30px 0 0 20px;
}
/*
 Mapa Google
*/
#google-mapa
{
    border: solid 1px #c4c4c4;
    float: left;
    margin: 10px 0 10px 0;
    max-height: 350px;
    max-width: 500px;
}
#street-view
{
    border: solid 1px #c4c4c4;
    float: left;
    margin: 10px 0 0 20px;
    max-height: 350px;
    max-width: 500px;
}