.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
    border: none;
}
.preloader
{
    display: none;
}
.tr-usuarios
{
    font-size: 14px;
}
td
{
    position: relative;
}
.boton-ver-todos
{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.h3ModuloSeguridad
{
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0 0 0;    
}
.bloque-opcion
{
    background: #f1f1f1;
    float: left;
    margin: 0 0 0 10px;
    width: auto;
}
.bloque-opcion a
{
    display: block;
    padding: 5px 10px 5px 10px;
}
.bloque-opcion .activado 
{
    background: #c7e297;
    color: #41850a;
}
#seguridad-lista-modulos,
#seguridad-lista-modulos li
{
    list-style: none;
    padding: 0;
}
.boton-normal
{
    left: auto;
    position: relative;
    top: auto;
}
.usuario-seguridad
{
    display: block;
    float: right;
    width: 60px;
}
.boton-flotado
{
    border-bottom: solid 1px #f1f1f1;
    background: #fff;
    left: 269px;
    padding: 5px 0 5px 0;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 2;
}
#seguridad-filtro
{
    margin: 10px 0 0 0;
}