.ordenar #ordenar-registros
{
    float: left;
    width: 100%;
}
.ordenar #ordenar-registros li
{
    background: #f3f3f3;
    border-bottom: solid 1px #c4c4c4;
    color: #4c4c4c;
    cursor: move;
    float: left;
    margin: 0 0 10px 0;
    list-style: none;
    padding: 10px 0 10px 10px;
    width: 100%;
}