/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/bootstrap-theming';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~ngx-toastr/toastr-bs4-alert';

:root {
    --progress-loader-color: #00ffff;
}

@font-face {
    font-family: 'BariolRegular';
    src: url('assets/fonts/Bariol_Regular.ttf');
}

@font-face {
    font-family: 'MyriadProLight';
    src: url('assets/fonts/MyriadPro-Light.ttf');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('assets/fonts/MyriadPro-Regular.ttf');
}

.wj-flexgrid {
    font-size: 0.75rem;
}
