<ng-container *ngIf="currentUser$ | async as currentUser">
    <div class="alert alert-primary" *ngIf="!currentUser.hasFinishedRegistration">
        ¡Hola! Parece que todavía no completaste tu perfil de usuario en Brillante Store. Completá los siguientes datos
        para acceder a la tienda y disfrutar de todo lo que Brillante tiene para vos.
    </div>

    <div class="card shadow border-0 form-container">
        <div class="card-body">
            <form [formGroup]="form">
                <div class="avatar-container">
                    <img
                        width="160px"
                        height="160px"
                        alt="Avatar de Usuario"
                        [src]="!!avatarUrl ? avatarUrl : 'assets/img/avatar-placeholder.png'"
                    />
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" formControlName="firstName" />
                        <div class="text-danger" *ngIf="submitted && form.controls['firstName'].errors?.required">
                            <small>¡Ups! El campo nombre no puede estar vacío.</small>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Apellido</label>
                        <input class="form-control" formControlName="lastName" />
                        <div class="text-danger" *ngIf="submitted && form.controls['firstName'].errors?.required">
                            <small>Ingresá tu apellido para completar el registro.</small>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">DNI</label>
                        <input class="form-control" formControlName="dni" />
                        <div class="text-danger" *ngIf="submitted && form.controls['dni'].errors?.required">
                            <small>Se requiere un DNI válido para actualizar tus datos.</small>
                        </div>
                        <div class="text-danger" *ngIf="form.controls['dni'].errors?.dniAlreadyAssigned">
                            <small>El DNI ingresado ya se encuentra asignado a un cliente existente.</small>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Email (sólo lectura)</label>
                        <input class="form-control" formControlName="email" readonly />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Teléfono</label>
                        <input class="form-control" formControlName="telephone" />
                        <div class="text-danger" *ngIf="submitted && form.controls['dni'].errors?.required">
                            <small>Ingresá un número de teléfono para que podamos contactarnos con vos.</small>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Dirección</label>
                        <input class="form-control" formControlName="address" />
                        <div class="text-danger" *ngIf="submitted && form.controls['dni'].errors?.required">
                            <small>Brindanos una dirección para despachar tus envíos.</small>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Fecha de Nacimiento</label>
                        <ejs-datepicker
                            aria-describedby="birthDate"
                            formControlName="birthDate"
                            id="birthDate"
                            [format]="'yyyy/MM/dd'"
                            [enableMask]="true"
                            [maskPlaceholder]="maskPlaceholderValue"
                            [required]="true"
                        ></ejs-datepicker>
                        <div class="text-danger" *ngIf="submitted && form.controls['birthDate'].errors?.required">
                            <small>Por cuestiones legales, necesitamos que actualices tu fecha de nacimiento.</small>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" (click)="onUpdateButtonClicked()">
                            Actualizar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>
