.brand-container {
    display: flex;
    align-items: center;
    a.navbar-brand {
        width: 125px;
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            display: block;
        }
    }
}

#burger-menu {
    line-height: 1;
    font-size: 22px;
    margin: 0 0 0 -15px;
    padding: 3px 13px 0;
    background: transparent;
    border: none;

    &.dropdown-toggle::after {
        display: none;
    }
    @media (min-width: 350px) {
        padding: 2px 13px;
    }
}
