<div class="row">
    <div id="main-card" class="col-12">
        <div class="card">
            @if (cardsLayoutService.topCardTitle) {
            <div class="card-header"></div>
            }
            <div class="card-body">
                <!--FULL LENGTH COMPONENT-->
                <router-outlet name="main-outlet"></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="left-card" class="col-8">
        <div class="card">
            @if (cardsLayoutService.leftCardTitle) {
            <div class="card-header">
                <div class="row"></div>
            </div>
            }
            <div class="card-body">
                <router-outlet name="left-outlet"></router-outlet>
                <!--SELECT FROM GRID COMPONENT-->
            </div>
        </div>
    </div>
    <div id="right-card" class="col-4">
        <div class="card">
            @if (cardsLayoutService.rightCardTitle) {
            <div class="card-header"></div>
            }
            <div class="card-body">
                <router-outlet name="right-outlet"></router-outlet>
                <!--DETAILED VIEW COMPONENT-->
            </div>
        </div>
    </div>
</div>
